@import "common/settings/variables";
@import "common/utils";

.o-teaser {
  &_theme_light { background: $gray-1; }
  &_theme_dark {
    background: $blue-2;
    color: $c-brand-invert;
  }

  &__inner { padding-top: $header-height; }
}
