@import "common/settings/variables";
@import "common/utils";

.o-teaser {
  &_theme_light { background: $gray-1; }
  &_theme_dark {
    background: $blue-2;
    color: $c-brand-invert;
  }

  &__inner {
    display: flex;
    //flex-direction: column;
    @include media($desktop) { padding: $header-height + 85px 0 144px 0; }
    @include media($tablet) { padding: $header-height * 2 0 $header-height 0; }
    @include media($mobile) { padding: $header-height * 2 0 0; }
  }
}
