@import "common/settings/variables";
@import "common/utils";

.o-teaser {
  background: $gray-1;

  &__inner {
    display: flex;
    flex-direction: column;
    @include media($desktop) { padding: $header-height + 110px 40% 70px 0; }
    @include media($tablet) { padding: $header-height * 2 10% $header-height 0; }
    @include media($mobile) { padding: $header-height * 2 0 0; }
  }

  &__title {
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 700;
    color: #253039; // clarify
  }

  &__lead {
    margin-top: $identation;
    font-size: 18px;
    line-height: 1.56em;
    color: #253039; // clarify
    @include media($mobile) {
      order: 1;
      margin: 0 (-$identation);
      padding: ($identation * 3) $identation ($identation * 2);
      background: $c-brand;
      color: $c-brand-invert;
    }
  }

  &__subscribe {
    max-width: 400px; // remove after getting form
    height: 85px; // remove after getting form
    margin-top: $identation;
    background: $gray-2;
    @include media($mobile) { margin: $header-height 0; }

  }
}
