@import 'common/settings/variables';
@import 'common/utils';

.a-code {
  display: block;
  padding: 10px 15px 10px 35px;
  background-color: darken($color-main-deep-blue, 35%);
  font-family: monospace;

  .pln {
    color: #c5c8c6;
  }
  ol.linenums {
    color: #969896;
  }
  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    list-style-type: decimal;
  }
  @media screen {
    .str {
      color: #b5bd68;
    }
    .kwd {
      color: #b294bb;
    }
    .com {
      color: #969896;
    }
    .typ {
      color: #81a2be;
    }
    .lit {
      color: #de935f;
    }
    .pun {
      color: #c5c8c6;
    }
    .opn {
      color: #c5c8c6;
    }
    .clo {
      color: #c5c8c6;
    }
    .tag {
      color: #cc6666;
    }
    .atn {
      color: #de935f;
    }
    .atv {
      color: #8abeb7;
    }
    /* declaration */

    .dec {
      color: #de935f;
    }
    .var {
      color: #cc6666;
    }
    .fun {
      color: #81a2be;
    }
  }
}

