@import "common/settings/variables";
@import "common/utils";

.m-info-column {

  width: 50%;

  @include media($desktop-xxl) {
    width: 300px;
    margin-right: 80px;
  }
  @include media($mobile) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  &__image {
    margin-bottom: 25px;
    max-width: 70px;
    height: 74px;
    object-fit: fill;
    @include media($desktop-xxl) {
      max-width: 60px;
      height: 52px;
    }
    @include media($tablet) {
      max-width: 40px;
      height: 40px;
    }
  }
  &__title {
    margin-bottom: 36px;
    font-size: 31px;
    font-weight: 700;
    color: $color-black;
    @include media($desktop-xxl) {
      margin-bottom: 24px;
      font-size: 22px;
    }
  }
  &__text {
    color: $color-black;
    font-size: 21px;
    line-height: 1.3;
    @include media($desktop-xxl) {
      font-size: 15px;
    }
  }
}