.m-ripple{
  &__parent{
    display: inline-block;
    overflow: hidden;
  }
  &-ripple{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20%;
    opacity: 1;
    transform: scale(0);
    &_reppling_true {
      animation: ripple 0.4s linear;
    }
  }
}


@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
