@import "common/utils";
@import "common/settings/variables";

.a-link{
  cursor: pointer;
  font-weight: 600;

  &_type{
    &_block {
      display: block;
      width: 100%;
      height: 100%;
    }

    &_article{
      font-size: 1.5rem;
      line-height: 2.6rem;
      color: $brand;
    }
    &_primary{
      color: $interactive;
    }

    &_crumbs{
      color: $interactive;
      font-size: 1.2rem;
      font-weight: 600;
      vertical-align: top;
      padding: 0;
      padding-right: 2.1rem;
      &-notlast{
        @extend .a-link_type_crumbs;
        background: url('/img/icons/breadcrumb-divider@2x.png') right 7px center / .5rem no-repeat;
      }
    }

    &_hero-list-links{
      font-size: 1.5rem;
      line-height: 2.6rem;
      color: $interactive;
    }

    &_white{
      color: $white;
    }

    &_section-link, &_section-link-clean{
      margin-top: .8rem;
      display: flex;
      align-items: center;
      padding-left: 1.6rem;
      line-height: 1.5rem;
      vertical-align: top;
      min-height: 3.4rem;
      color: $interactive;
      border-left: $interactive-border-l;
      font-weight: bold;
      position: relative;
      @include media($mobile) {
        line-height: 2rem;
      }
      &:hover, &:active{
        text-decoration: underline;
      }
    }
  }

  &.disabled{
    pointer-events: none;
  }
}