@import "common/utils";

.a-link{
  &_block_true{
    display: block;
    height: 100%;
    width: 100%;
  }
  &* {
    cursor: pointer;
  }
  &_disabled_true{
    pointer-events: none !important;
    cursor: default;
    color:$non-critical;
  }
}