@import "common/utils";
@import "common/settings/variables";

.a-p{
  &_type{
    &_video-hero{
      font-size: 18px;
      line-height: 28.0px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 16px;
    }
    &_hero {
      font-size: 1.5rem;
      line-height: 2.6rem;
      border-left: $interactive-border-l;
      padding: .3rem 0 .3rem 1.7rem;
    }
    &_hmq-e{
      font-size: 1.3rem;
      line-height: 2rem;
      color: #333333;
      margin-bottom: 1rem;
    }
    &_first {
      font-size: 18px;
      line-height: 28.0px;
    }
    &_second{
      font-size: 14px;
    }
    &_third{
      font-size: 1.5rem;
      line-height: 2.6rem;
      &-center{
        @extend .a-p_type_third;
        text-align: center;
        &_white{
          @extend .a-p_type_third-center;
          color: $white;
        }
      }
    }
    &_fourth{
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.6rem;
      color: $brand;
    }
    &_fifth{
      font-size: 13px;
      line-height: 1.54rem;
      color: $black-2;
    }
  }
}