@import "common/settings/variables";
@import "common/utils";

.a-btn-h-2 {
  padding: 25px 90px;
  line-height: 1;
  color: $color-white;
  background: #1400FF;
  border: 2px solid #1400FF;
  font-family: $font-ProximaNova;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .3em;
  text-transform: uppercase;
  pointer-events: auto;
  transition: background-color, color, border, .3s linear;
  cursor: pointer;

  width: auto !important;

  &_form-has-errors {
    &_true {
      color: $color-text-gray;
      border: 2px solid $color-text-gray;
      pointer-events: none;
    }
  }
  &:hover {
    background-color: $color-main-blue;
    color: $color-white;
  }
  @include media($mobile) {
    width: 100% !important;
    padding: 16px;
    font-size: 16px;
  }
}