@import 'common/settings/variables';
@import 'common/utils';

.kb-menu {
  box-sizing: border-box;
  border-right: 1px solid $color-main-light-blue;
  &__article-links {
    margin-bottom: 30px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__article-link {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
  }

  &__section-links {

  }

  &__section-link {
    display: block;
    padding-left: 15px;
    font-size: 15px;
    transition: background-color .3s, color .1s linear;
    &:hover {
      background-color: $color-main-light-blue;
      color: $color-white;
    }
  }
}