{
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    ["module-resolver", {"root": ["./src", "./src/components", "./src/store", ""]}]
  ],
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ],
      "presets": [
      ]
    },
    "development": {
      "presets": [
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
      ],
      "plugins": [
      ]
    }
  }

}