node_modules
.idea
#static/
.DS_Store
npm-debug.log
/fonts
static/assets/
static/report.html
static/service-worker.js
static/manifest.json
simple-api/node_module
webpack-manifest.json
webpack.config-copy.js