@import "common/settings/variables";
@import "common/utils";

.se-wiki2{
  &__article{
    font-family: OpenSans;
    color: #333333;
    p{
      font-size: 1.5rem;
      line-height: 2.6rem;
    }
    p + p{
      margin-top: .8rem;
    }
    margin-bottom: 8rem;
    @include media($mobile) {
      margin-bottom: 1rem;
    }
  }
}