@import "common/utils";

.m-subscribe{
  &__root{
    position: relative;
    width: 360px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;

  }
  &__input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 3px;
    border:none;
  }
  &__button{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    width: 104px;
    height: 40px;
    border-radius: 0 2px 2px 0;
    background-color: #4594ff;

  }

}