@import 'common/settings/variables';
@import 'common/utils';

.knowledge-base {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  height: 100%;
  display: flex;
  //background-color: transparentize(green, .5);
  &__menu, &__articles {
    overflow-y: scroll;
  }
  &__menu {
    width: 20%;
    flex-shrink: 0;
    //background-color: transparentize(red, .5);
  }
  &__articles {
    flex-grow: 1;
    overflow-y: scroll;
    //background-color: transparentize(yellow, .5);
  }
}