@import "common/settings/variables";
@import "common/utils";

.m-social-links-h {
  $this: &;
  font-family: $font-ProximaNova;
  font-weight: 700;
  &_type {
    &_section {
      #{$this}__title {
        margin-bottom: 30px;
        color: $color-black;
      }
      #{$this}__links-list {
        flex-wrap: wrap;
      }
      #{$this}__link {
        @include media($tablet) {
          margin-bottom: 15px;
        }
      }
    }


    &_footer {
      display: flex;
      align-items: center;
      @include media($mobile) {
        flex-direction: column;
        align-items: flex-start;
      }
      #{$this}__title {
        color: $color-text-gray;
        margin-right: 80px;
        @include media($mobile) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      #{$this}__links-list {
        @include media($mobile-xs) {
            flex-wrap: wrap;
        }
      }

      #{$this}__link {
        @include media($desktop-xxl) {
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
        @include media($mobile-xs) {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__title {
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: .3em;
    font-size: 16px;
    @include media($desktop-xxl) {
      font-size: 14px;
    }
    @include media($mobile) {
      font-size: 13px;
    }
  }
  &__links-list {
    display: flex;
  }
  &__link {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    margin-right: 30px;
    text-decoration: none;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}