@import "common/settings/variables";
@import "common/utils";

.o-interactive-image{
  margin-bottom: 32px;
  width: 200px;
  height: 80px;
  @include media($desktop) {}
  @include media($tablet) {}
  @include media($mobile) { width: 47%; }
}