@import "common/settings/variables";
@import "common/utils";

/* Blue Drop down Menu
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.o-drop-down-blue {
  @include media ($desktop) {
    display: none;
  }
  &__customWidth {
    width: calc(100% + 6rem)!important;
    height: 5.5rem!important;
    left: -3rem;
  }
}

div[role="menu"] {
  background: #439fe0;
}

div[role="menu"] button {
  z-index: 999;
}
