@import "common/settings/variables";
@import "common/utils";

.se-partners{
  &__partner-list{
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    &-item{
      flex-basis: 24.5rem;
      height: auto;
      align-items: center;
      &-empty{
        flex-basis: 24.5rem;
      }
      @include media($mobile) {
        flex-basis: 14.4rem;
        height: auto;
        &-empty{
          flex-basis: 14.4rem;
        }
      }
    }
  }

  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 4rem;
    &-select{
      margin-right: 3rem;
      display: inline-block;
      @include media($mobile) {
        width: 100%;
        margin: 0;
        margin-bottom: 1.6rem;
      }
    }
  }
  &__tooltip{
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity .5s linear;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    &_type{
      &_left{
        right: 50%;
      }
      &_right{
        left: 50%;
      }
    }
  }
  &__link{
    display: none;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.se-partners__partner-list-item:hover .se-partners__tooltip{
  visibility: visible;
  opacity: 1;
  @include media($tablet) {
    display: none;
  }
}

.se-partners__partner-list-item:hover .se-partners__link{
  @include media($tablet) {
    display: block;
  }
}

