@import "common/utils";

.se-partners{
  &__partner-list{
    display: flex;
    flex-flow: wrap;
    &-item{
      flex: 0 0 24.5rem;
      height: 12rem;
      align-items: center;
      border: 1px solid grey;
    }
  }

  &__form{
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 4rem;
    &-select{
      margin-right: 3rem;
    }
  }
  &__tooltip{
    z-index: 100;
    display: none;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    &_type{
      &_left{
        right: 50%;
      }
      &_right{
        left: 50%;
      }
    }
  }
}

.se-partners__partner-list-item:hover .se-partners__tooltip{
  display: block;
}