@import "common/settings/variables";
@import "common/utils";

.se-home-gallery{
  &__galery{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    @include media($tablet) {
      justify-content: center;
    }
    &-item{
      flex: 0 1 26rem;
      height: 100%;
      margin: 2rem 1rem 0;

      &-title{
        padding-bottom: 0;
        margin-bottom: 0rem;
      }
      &-img{
        width: 100%;
        height: auto;
        margin-bottom: .9rem;
        @include media($tablet) {
          width: 20rem;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }

}