@import "common/settings/variables";
@import "common/utils";

.se-home-team {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media($desktop-xl) {
    display: block;
    width: 100%;
  }
  &__content {
    width: 1100px;
    margin-left: 140px;
    padding: 0 30px;
    position: relative;
    font-family: $font-ProximaNova;
    @include media($desktop-xxl) {
      width: 745px;
      margin-left: 190px;
    }
    @include media($desktop-xl) {
      width: 820px;
      margin: 0 auto;
      padding-top: 60px;
    }
    @include media($tablet) {
      width: auto;
      padding: 0;
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 90px;
    @include media($desktop-xxl) {
      margin-bottom: 80px;
    }
    @include media($tablet) {
      margin-bottom: 60px;
    }
  }

  &__team-slider {
    @include media($desktop-xl) {
      margin-bottom: 60px;
    }
  }

  &__partners-slider {
    display: none;
    @include media($desktop-xl) {
      display: block;
    }
  }

  &__slide {
    font-family: $font-ProximaNova;
    line-height: 1.2;
    text-align: center;
    &-image {
      position: relative;
      display: block;
      width: 265px;
      height: 265px;
      margin: 0 auto 60px auto;
      &:hover::before {
        background-color: transparent;
      }
      &:before{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize($color-main-blue, .1);
        mix-blend-mode: multiply;
        border-radius: 100%;
        transition: background-color .3s;
      }
      @include media($desktop-xxl) {
        width: 190px;
        height: 190px;
        margin-bottom: 30px;
      }
    }

    &-title {
      font-size: 31px;
      font-weight: 700;
      height: 50px;
      margin: 0 auto 30px;
      max-width: 160px;
      @include media($desktop-xxl) {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }
    &-text {
      margin: 0;
      font-size: 21px;
      font-weight: 400;
      @include media($desktop-xxl) {
        font-size: 18px;
      }
    }
  }


  &__partners {
    position: absolute;
    bottom: 150px;
    left: 190px;
    @include media($desktop-xxl) {
      left: 160px;
    }
    @include media($desktop-xl) {
      display: none;
    }
  }

  &__nav-prev, &__nav-next {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
    &:after{
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      border-top: 3px solid $color-main-blue;
      border-right: 3px solid $color-main-blue;
    }
  }

  &__nav-prev {
    left: -20px;
    &:after{
      transform: rotate(-135deg);
    }
    @include media($tablet) {
      left: 0;
    }
  }

  &__nav-next {
    right: -20px;
    &:after{
      transform: rotate(45deg);
    }
    @include media($tablet) {
      right: 0;
    }
  }
}