@import "common/settings/brand";

.a-button {
  color: white;
  width: 104px;
  height: 40px;
  border-radius: 4px;
  background-color: $primary;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  &_type_submit{
    width: 124px;
    height: 53px;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2)
  }
}