@import "common/settings/variables";
@import "common/utils";

$form-btn-border-radius: 30px;

.a-btn{
  &.disabled{
    pointer-events: none;
  }

  &-material-hover{
    &:hover, &:active{
      &:after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__button{
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    &_type{
      &_personal-nav-btn{
        width: 17rem;
        height: 8.2rem;
        text-align: right;
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.6rem;
        color: $white;
        padding: 0;
        padding-right: 3.1rem;
        background: url('/img/arow_right.svg') right 13px center / .9rem no-repeat;
      }
      &_nav-btn{
        width: 14rem;
        height: 8.2rem;
        text-align: right;
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.6rem;
        color: $white;
        padding: 0;
        padding-right: 3.1rem;
        background: url('/img/arow_right.svg') right 13px center / .9rem no-repeat;
      }
      &_standart-form {
        text-transform: uppercase;
        user-select: none;
        //border-radius: $form-radius;
        background-color: $interactive;
        color: $white;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        font-size: 1.7rem;
        vertical-align: top;
        height: 5.3rem;
      }
    }
  }

  &__ripple{
    border-radius: $form-radius;
    box-shadow: $form-shadow;
    &_type{
      &_window{
        width: 100%;
      }
      &_material-r-link{
        border-radius: .2rem;
        &:active{
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        }
        transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
      }
      &_material-r-link-window{
        @extend .a-btn__ripple_type_material-r-link;
        width: 100%;
      }
    }
    @include media($mobile) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__link {
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    display: table;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    @include media($mobile) {
      width: 100%;
      margin: 0 auto;
    }
    &_type{
      &_material-r-link, &_popup-link {
        border-radius: .2rem;
        line-height: 1.4rem;
        box-sizing: border-box;
        padding: 1.1rem 1.6rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        min-height: 3.6rem;
        min-weight: 8.8rem;
        font-weight: 600;
        background-color: $interactive;
        color: $white;
        &:hover{
          background-color: $blue-5;
        }
      }
      &_material-r-link-window{
        @extend .a-btn__link_type_material-r-link;
        width: 100%;
      }
      &_inline{
        display: inline-block;
        text-align: center;
      }
      &_link{
        //кажись тут ничего нет.
      }
      &_link-standart-form{
        font-family: OpenSans;
        text-transform: uppercase;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        user-select: none;
        background-color: $interactive;
        color: $white;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        font-size: 1.7rem;
        height: 5.3rem;
        vertical-align: top;
        @extend .a-btn-material-hover;

      }
      &_window{
        text-transform: uppercase;
        padding: .8rem 1.6rem 1rem;
        color: white;
        background-color: $interactive;
        height: 5.3rem;
        line-height: 3.5rem ;
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        width: 100%
      }
      &_window-link{
        text-transform: uppercase;
        padding: .8rem 1.6rem 1rem;
        color: white;
        background-color: $interactive;
        height: 5.3rem;
        line-height: 3.5rem ;
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        width: 100%
      }
      &_link-subscribe{
        text-transform: uppercase;
        padding: .8rem 1.6rem 1rem;
        color: white;
        background-color: $interactive;
        height: 5.3rem;
        line-height: 3.5rem ;
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        width: 20rem;
        @extend .a-btn-material-hover;

        @include media($mobile) {
          width: 100%;
        }
      }
    }
  }
}