@import "common/settings/variables";
@import "common/utils";


.press-releases {
  padding-top: 100px;
  min-height: 510px;
  margin-bottom: 60px;
  @include media($mobile) {
    padding-top: 15px;
  }

  &__background-img {
    position: absolute;
    top: 50%;
    right: -105px;
    height: 510px;
    margin-top: -255px;
    object-fit: contain;
    @include media($tablet) {
      display: none;
    }
  }

  &__header {
    margin-bottom: 25px;
  }

  &__search-panel {
    margin-bottom: 25px;
  }
}