@import "common/settings/variables";
@import "common/utils";

.m-dropdown{
  &__root{
    position: relative;
    @include media($mobile) {
      width: 100%;
    }

  }
  &__select{
    display: inline-flex;
    background-color: $white;
    border: solid 1px $form-border-color;
    min-width: 13.3rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
    line-height: 22px;
    height: 5.3rem;
    @include media($mobile) {
      width: 100%;
    }
    &-text{
      color: $interactive;
      font-size: 1.7rem;
      font-weight: 600;
      margin: 0 auto;
      padding-right: 2.7rem;
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        right: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid $interactive;
      }
    }
    &:hover, &:active{
      &:after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__list-options{
    z-index: 1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    background-color: $white;
    border: 1px solid $form-border-color;
    &-item{
      user-select: none;
      cursor: pointer;
      &:hover{
        background-color: $form-disabled-color;
      }
    }
    @include media($mobile) {
      width: 100%;
      border-radius: 0;
    }
  }
  &__list-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 .5rem;
    width: 100%;

  }
}