@import "common/settings/variables";
@import "common/utils";


.a-image{
  &__root{
    width: 100%;
    height: 100%;
  }

  &_on-click_true:hover{
    cursor: pointer;
  }
  &__loader{
    height: 100%;
    //background-color: $blue-1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    vertical-align: top;

    &_avatar {
      &_true {
        width: 8rem;
        height: 8rem;
        display: block;
        margin: 0 auto;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
    }
    &_avatar-sm {
      &_true {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
    }

    &_object-fit{
      &_contain{
        object-fit:contain
      }
      &_cover-hidden{
        object-fit: cover;
        overflow: hidden;
      }
    }
    &.real-size{
      width: auto;
      height: auto;
    }
    &.rounded{
      border-radius: 50%;
    }
    &.link{
      vertical-align: top;
    }
  }
}