@import "common/settings/variables";
@import "common/utils";


.a-image{
  &__root{
    width: 100%;
    height: 100%;
  }

  &_on-click_true:hover{
    cursor: pointer;
  }
  &__loader{
    height: 100%;
    //background-color: $blue-1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__placeholder-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__placeholder {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    filter: blur(20px);
    border-radius: 50%;
    background-color: #90D8F0;
    width: 70%;
  }

  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    vertical-align: top;
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);

    &_type{
      &_avatar {
        width: 8rem;
        height: 8rem;
        display: block;
        margin: 0 auto;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        object-fit: cover;
        &-sm{
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
          object-fit: cover;
        }
      }
    }
    &_avatar-sm {
      &_true {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
    }

    &_object-fit{
      &_contain{
        object-fit:contain
      }
      &_cover-hidden{
        object-fit: cover;
        overflow: hidden;
      }
    }
    &.real-size{
      width: auto;
      height: auto;
    }
    &.rounded{
      border-radius: 50%;
    }
    &.link{
      vertical-align: top;
    }
  }
}

@-webkit-keyframes blur {
  to {
    -webkit-filter: none;
    filter: none;
  }
}
@-moz-keyframes blur {
  to {
    -moz-filter: none;
    filter: none;
  }
}
@keyframes blur {
  to {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
}