.m-select{
  &__root{
    padding-left: 10px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
    position: relative;
    select{
      display: none;
    }
  }
  &__label{
    white-space: nowrap;
    line-height: 40px;
    span span{
      margin-right: 13px;
    }
    &:hover{
      color: #2d9ee0;
    }
  }
  &__list-options{
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
    &_closed_true{
      display: none;
    }
  }
  &__option{
    padding-left: 9px;
    position: relative;
    height: 40px;
    line-height: 40px;
    &_selected_true{
      color: #2d9ee0;
    }
    &:hover{
      color: #2d9ee0;
      background-color: #ebf6fd;
    }
  }
  &__triangle{
    position: absolute;
    top:50%;
    right: 12px;
    transform: translate(0,-60%);
  }
  &__check-mark{
    position: absolute;
    top: 50%;
    transform: translate(0,-30%);
    right: 10px;
  }
}