@import "common/settings/variables";
@import "common/utils";

.m-select{
  &__root{
    color: $gray-7;
    padding-left: 10px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    background-color: $c-bg;
    border: solid 1px $c-control-default;
    position: relative;
    @include media($mobile) {
      border: 0;
      width: 100%;
      height: 54px;
      border-radius: 0;
      padding-left: 16px;
    }
    select{
      display: none;
    }
    &_is-open_true{
      border: none;
    }
  }
  &__label{
    white-space: nowrap;
    line-height: 40px;
    @include media($mobile) {
      border: 0;
      width: 100%;
      line-height: 54px;
      border-radius: 0;
    }
    span span{
      margin-right: 15px;
    }
    &:hover{
      color: $blue-3;
    }
  }
  &__list-options{
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    background-color: $c-bg;
    border: solid 1px $c-control-default;
    &_closed_true{
      display: none;
    }
    @include media($mobile) {
      width: 100%;
      border-radius: 0;
    }
  }
  &__option{
    padding-left: 9px;
    position: relative;
    height: 40px;
    line-height: 40px;
    &_selected_true{
      color: $blue-3;
    }
    &:hover{
      color: #2d9ee0;
      background-color: $lightblue-1;
    }
  }
  &__triangle{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);

    right: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $black-4;
  }
  &__check-mark{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 13px;
  }
}