@import "common/settings/variables";
@import "common/utils";

.se-home-hero {

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;

    text-align: center;
    @include media($tablet) {
      height: 600px;

    }
    @include media($mobile) {
      height: 400px;

    }
  }
  &__back-img{
    background-image: url("/img/hero-image.png");

    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  &__root{
    padding: 9rem 0 9.6rem;
    transform: translate(0, 3rem);

    display: flex;
    justify-content: space-between;
    //padding: 11.6rem 0 9.6rem;
    align-items: flex-start;
    @include media($tablet) {
      //padding: 10rem 0 2.6rem;
      //padding-top: 3rem;




      //padding-top: 1.7rem;
      //flex-flow: column-reverse;
    }
    @include media($mobile) {
      padding-bottom: 0;
    }
  }

  &__welcome{
    align-self: flex-start;
    flex: 0 0 53.2rem;
    padding-left: .9rem;

    @include media($tablet) {
      flex-basis: 50rem;
      width: 53.2rem;
      padding-left: .3rem;

    }
    @include media($mobile) {
      flex-basis: 100%;
      width: auto;
    }

    &-text{
      color: $white;
      @include media($mobile) {
        color: $title;
      }







      margin-bottom: 3.1rem;
    }
  }

  &__explorer{
    display: none;
    @include media($mobile) {
      display: block;
    }




    flex: 0 0 35.5rem;
    @include media($tablet) {
      flex-basis: 26.3rem;
      width: 53.2rem;
    }


    @include media($desktop) {
      padding-top: 1.5rem;
    }
    &-info{
      border-left: $interactive-border-l;
      padding: 0.4rem 0 0 1.6rem;
      display: flex;
      flex-flow: column;
      @include media($desktop) {
        margin-left: 10.2rem;
        margin-bottom: 3.5rem;
      }
      &-data{
        vertical-align: top;
        font-size: 1.3rem;
        line-height: 2rem;
      }
      &-block{
        padding-bottom: .4rem;
        &:last-child{
          padding-bottom: 0;
        }
      }
    }



    &-img{
      width: 28.3rem;
      height: 9.8rem;
      @include media($tablet) {
        display: none;
      }
    }
  }
  &__subscribe-text{
    color: $white;
    @include media($mobile) {
      color: $title;
    }





    margin-top: 1.6rem;

    @include media($mobile) {
      text-align: center;
    }
  }
}

video{
  //width: 100vw !important;
  height: 100% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.BackgroundVideo{
  width: 1500px !important;
}