@import "common/settings/variables";
@import "common/utils";


@function makelongshadow($angle) {
  $val: 0px 0px #CFD1D3;

  @for $i from 1 through 175 {
    $val: #{$val}, #{-$i * $angle}px #{$i}px rgba(
                              (216 + round($i /25)),
                              (216 + round($i /25)),
                              (216 + round($i /25)),
                            1);
  }
  @return $val;
}

//$val: #{$val}, #{-$i}px #{$i}px rgba(235, 235, 235, (round((100 - $i)/ 10) / 10) );


@mixin longshadow() {
  text-shadow: makelongshadow(0.76);
  @include media($mobile) {
    text-shadow: makelongshadow(0.77);
  }
  &:after {
    background-image: linear-gradient(180deg, #dcdcdc, #fff);

    content: "";
    display: block;
    position: absolute;
    transform: skew(143deg);
    height: 5.5em;
    width: 6.36em;
    @include media($mobile) {
      width: 6.35em;
    }
    top: 2.2em;
    left: -3.46em;

    @include media($tablet) {
      left: -3.47em;
    }
    z-index: 0;
  }
}

.se-home-hero-title{
  &__root{
    margin: 0;
    padding: 0;
    postion: relative;
    left: .9rem;

    z-index: -1;

  }
  &__title{
    margin: 0;
    padding: 0;
    z-index: -10;
    font-size: 8.7rem;
    font-weight: 700;
    line-height: 1.12em;
    padding-bottom: 2rem;
    white-space: nowrap;
    @include media($tablet) {
      font-size: 8.7rem;
    }
    @include media($mobile) {
      font-size: 15vw;
    }
  }
  &__shadow{
    @include longshadow();

  }

}
