@import "common/settings/variables";
@import "common/utils";

.se-main-layout-header-h {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media($desktop-xl) {
    padding: 15px 0;
    background-color: white;
  }

  &__logo {
    width: 150px;
    height: 35px;
    margin-left: 60px;
    @include media($desktop-xxl) {
      width: 105px;
      height: 25px;

    }
  }

  &__menu-btn {
    display: none;
    margin-right: 65px;
    @include media($desktop-xl) {
      display: block;
    }
  }

  &__menu {
    display: flex;
    margin-right: 17.2%;
    &-link {
      padding: 37px 32px;
      font-family: $font-ProximaNova;
      color: $color-black;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: .3em;
      text-transform: uppercase;
      transition: transform .2s;
      &:hover {
        transform: scale(1.1);
      }
      @include media($desktop-xxl) {
        padding: 20px 23px;
        font-size: 12px;
      }
    }
    @include media($desktop-xl) {
      display: none;
    }
  }
}
