@import "common/settings/variables";
@import "common/utils";

$slider-padding: $identation * 2.5;
$image-size: 220px;

.o-simple-slider {
  background: $lightblue;
  &__inner {
    padding: $slider-padding 0; // clarify
    &:before,
    &:after {
      $size: 22px;
      display: block;
      content: '';
      width: $size;
      height: $size;
      border: $c-control-primary solid;
      border-width: 0 0 2.5px 2.5px;
      position: absolute;
      top: 50%;
      margin-top: -$size;
      @include media($mobile) { top: $slider-padding + $image-size / 2; }
    }
    &:before {
      left: 0;
      transform: rotate(45deg);
    }
    &:after {
      right: 0;
      transform: rotate(-135deg);
    }
  }

  &__slide {
    display: flex;
    width: 650px;
    margin: 0 auto;
    justify-content: space-between;
    @include media($mobile) {
      width: 100%;
      flex-flow: column;
    }
  }

  &__image {
    width: $image-size;
    height: $image-size;
    @include media($mobile) { align-self: center; }
  }
  &__text {
    display: flex;
    width: 375px;
    flex-direction: column;
    justify-content: center;
    @include media($mobile) {
      width: 100%;
      margin-top: $identation * 2;
    }
  }
}