@import "common/settings/variables";
@import "common/utils";

.o-simple-slider {
  background: $lightblue;
  &__inner {
    padding: $identation * 2.5 0; // clarify
    &:before,
    &:after {
      $size: 22px;
      display: block;
      content: '';
      width: $size;
      height: $size;
      border: $c-control-primary solid;
      border-width: 0 0 2.5px 2.5px;
      position: absolute;
      top: 50%;
      margin-top: -$size;
    }
    &:before {
      left: 0;
      transform: rotate(45deg);
    }
    &:after {
      right: 0;
      transform: rotate(-135deg);
    }
  }

  &__slide {
    display: flex;
    width: 650px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__image {}
  &__text {
    display: flex;
    width: 375px;
    flex-direction: column;
    justify-content: center;
  }
  .a-h4 { margin-bottom: $identation; } //?
}