@import "common/settings/variables";

.a-button-link {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  opacity: .8;
  border: 2px solid transparent;

  &:hover { opacity: 1; }

  &_size_xs {
    height: $control-height;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
  }

  &_size_m {
    height: 40px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2em;
  }

  &_color_primary_dark, // TRANSPARENT button with BLACK lines
  &_color_primary_dark_theme_false {
    color: $c-brand-dark;
    background-color: transparent;
    border-color: $c-brand-dark;
  }

  &_color_primary_light,  // TRANSPARENT button with WHITE lines
  &_color_primary_dark_theme_true {
    color: $c-brand-invert;
    background-color: transparent;
    border-color: $c-brand-invert;
  }

  &_color_secondary_dark { // BLUE button with WHITE text
    color: $c-brand-invert;
    background-color: $c-control-primary;
    border-color: $c-control-primary;
  }

  &_color_secondary_light { // WHITE button with BLUE text
    color: $c-control-primary;
    background-color: $c-brand-invert;
    border-color: $c-control-primary;
  }

}