@import 'common/settings/variables';
@import 'common/utils';

.articles-kb {
  padding: 30px 15px;
  &__article {
    margin-bottom: 60px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &-title {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 30px;
    }
    &-sections {}
    &-section {
      margin-bottom: 30px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      h4 {
        font-size: 30px;
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 15px;
      }
    }
  }
}