@import "common/settings/variables";
@import "common/utils";

.o-header {
  cursor: default;
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 2;
  background: $gray-1;
  @include media($desktop) {
    height: $header-height;
  }
  &_menu-open_true{
    background: $c-bg;
    position: relative;
    &:after{
      content: '';
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      width: 1120px;
      border-bottom: solid 1px #d6d6d6;
    }
  }

  &__inner {
    padding: $identation * .75 $identation;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__connerBtn{
    display: block;
    flex: 1 1 15px;
    margin-left: 30px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include media($mobile) { display: none; }

    &-extra{
      margin-left: 15px;
      box-sizing: border-box;

    }

    &-main{
      display: flex;
      z-index: 1;
      margin: -15px 0;
    }

    .a-link {
      box-sizing: border-box;
      display: flex;
      padding: 0 15px 1px; // 1px - lh compensation
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      opacity: .8;
      border-top: 3px solid transparent;

      &.mobile-show {
        display: none;
        @include media($mobile) { display: flex; }
      }

      &:hover{
        opacity: 1;
        border-top-color: $black-1;
      }

      //+ .a-button-link { margin-left: 15px; }
    }
  }
}
