@import "common/settings/variables";
@import "common/utils";

.o-header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: $gray-1;
  @include media($desktop) {
    height: $header-height;
  }

  &__inner {
    padding: $identation * .75 $identation;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.m-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include media($mobile) {
    display: none;
  }
  .a-link {
    font-size: 15px; //?
    font-weight: 600; //?
    padding: 0 15px;
    + .a-button-link { margin-left: 15px; }
  }
}