@import "common/settings/variables";
@import "common/utils";

/* InternalForm
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.se-internal-form {
  &__flex {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: #f0f3f5;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    @include media ($tablet) {
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
      min-height: 100%;
    }
  }

  &__header {
    position: relative;
    width: 36%;
    min-width: 40rem;
    height: 100%;
    box-shadow: 0 0 2rem hsla(202, 8%, 61%, .35);
    z-index: 10;
    @include media ($tablet) {
      height: auto;
      box-shadow: none;
      min-width: 0;
      width: 100%;
    }
  }

  &__header {
    &-bg {
      background: repeating-linear-gradient(
        45deg,
        $gray-1,
        $gray-1 1rem,
        $gray-2 1rem,
        $gray-2 2rem
      );
      width: 100%;
      height: 22rem;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
    }
    &-overflow {
      overflow: hidden;
      height: 100%;
      background: $white;
    }
    &-content {
      position: relative;
      width: 100%;
      min-height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
    }
    &-top {
      flex: 2;
      display: flex;
      align-items: left;
      justify-content: left;
      flex-direction: column;
      width: 100%;
      padding: 2rem 2rem 0;
      min-height: 17rem;
    }
    &-stepper {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-20%);
      @include media ($tablet) {
        display: none;
      }
    }
  }

  &__outlet {
    position: relative;
    width: 64%;
    height: 100%;
    overflow: hidden;
    @include media ($tablet) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
    }
  }

  &__outlet {
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0 6%;
    width: 100%;
    @include media ($tablet) {
      padding: 0 7%;
    }
  }

  &__form {
    &-wrap {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 1;
      justify-content: center;
      padding-top: 3.4rem;
      @include media ($tablet) {
        padding: 0;
      }
    }
    &-title {
      text-align: left;
      margin-top: 1rem;
      font-size: 1.6rem;
      line-height: 1.6;
      color: #617079;
      font-weight: 400;
    }
    &__row {
      display: flex;
      box-sizing: content-box;
      border-bottom: .1rem solid #edf1f3;
      position: relative;
      padding-left: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 4.8rem;
      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
    &__label {
      font-size: 1.5rem;
      margin: 0;
      display: block;
      line-height: 1.8rem;
      vertical-align: top;
      color: #292e31;
      font-weight: 600;
      padding: 1.6rem 1rem 0 0;
      z-index: 1;
      position: relative;
      min-width: 42%;
      width: 42%;
      .se-internal-form__form__row--invalid & {
        color: #e25950;
      }
    }
    &__fields {
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 5rem;
      flex-basis: 20rem;
    }
    &__input {
      border: none;
      color: #617079;
      font-weight: 600;
      background-color: $white;
      display: block;
      width: 100%;
      height: 4.8rem;
      font-size: 1.5rem;
      outline: none;
      &::placeholder {
        font-weight: 500;
      }
    }
    &__message {
      background-color: #fbecec;
      color: #e25950;
      border-radius: .5rem;
      padding: 0 .5rem;
      margin: 0 .5rem;
      position: relative;
      top: -.7rem;
      font-weight: 500;
      font-size: 1.2rem;
      display: none;
      .se-internal-form__form__row--invalid & {
        display: inline-block;
      }
    }
    &-fieldset {
      background-color: $white;
      overflow: hidden;
      position: relative;
      border-radius: .5rem;
      margin-top: 1.5rem;
      padding: 0;
      transform: translateZ(0);
      box-shadow: 0 1.5rem 3.5rem rgba(50, 50, 93, .0980392), 0 .5rem 1.5rem rgba(0, 0, 0, .0666667);
    }
    &-footer {
      padding-top: 3.4rem;
      display: flex;
      flex-direction: column;
    }
    &-bt {
      flex-shrink: 0;
      margin-left: auto;
      min-width: 17.2rem;
      white-space: nowrap;
      display: inline-block;
      height: 4rem;
      line-height: 4rem;
      padding: 0 1.4rem;
      box-shadow: 0 .4rem .6rem rgba(50, 50, 93, .11), 0 .1rem .3rem rgba(0, 0, 0, .08);
      background: $blue-1;
      border-radius: .4rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .025em;
      color: $white;
      text-decoration: none;
      transition: all .15s ease;
      border: none;
      @include media ($mobile) {
        width: 100%;
      }
      &:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 .7rem 1.4rem rgba(50, 50, 93, .1), 0 .3rem .6rem rgba(0, 0, 0, .08);
        color: $white;
        background: $blue-2;
      }
      &:active {
        transform: translateY(1px);
        background: $blue-1;
        border: none;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      &-span {
        background-image: url('/img/icons/arrow-bt.svg');
        background-repeat: no-repeat;
        background-size: 1.3rem 1.3rem;
        background-position: 100% 0;
        background-position-y: .3rem;
        padding-right: 2.5rem;
        padding-left: .4rem;
      }
    }
  }

  &__footer {
    background: repeating-linear-gradient(
      45deg,
      $gray-1,
      $gray-1 1rem,
      $gray-2 1rem,
      $gray-2 2rem
    );
    position: absolute;
    left: 0;
    width: 36%;
    min-width: 40rem;
    bottom: 2rem;
    padding: 3rem 2rem;
    z-index: 11;
    @include media ($tablet) {
      display: none;
    }
  }
  &__footer-mobile {
    display: none;
    width: 100%;
    margin-top: 3.4rem;
    @include media ($tablet) {
      display: block;
    }
    &__title {
      color: #6b7c93;
      font-size: 1.4rem;
    }
    &__text {
      display: block;
      color: #aab7c4;
      font-size: 1.4rem;
    }
    &__a {
      margin-right: 1rem;
      color: $blue-1;
      &:hover {
        color: $black-1;
      }
    }
  }
}