@import "common/settings/variables";
@import "common/utils";

.se-home-expedition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://lp.humaniq.com/img/africa.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 42%;

  &__content {
    width: 1200px;
    position: relative;
    margin: 60px 0 0 60px;
    font-family: $font-ProximaNova;
    @include media($desktop-xxl) {
      width: 745px;
      margin: 60px 0 0 106px;
    }
    @include media($tablet) {
      width: auto;
      margin: 60px 0 0 0;
    }
    @include media($mobile) {
      width: auto;
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 60px;
    @include media($desktop-xxl) {
      margin-bottom: 30px;
    }
  }

  &__info-columns {
    @include media($mobile) {
      margin-bottom: 60px;
    }
  }

  &__button {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
}