.m-no-results{
  &__request{
    background-color: #fff3b8;
  }
  &__first{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: .8rem;
  }
  &__second{
    font-size: 1.5rem;
    margin: 0;
    line-height: 2.4rem;
  }
}