@import "common/settings/variables";
@import "common/utils";


.se-contact-us{
  &__section-wrapper {
    background-image: url('/img/design-v2/sections/common/waves-extra-platform.png');
    background-repeat: no-repeat;
    background-position: 0% 70%;
    background-size: 50%;
  }
  &__contactus{

    &-header{
      display: flex;

      &-image{
        margin-right: 5.5rem;
        //left: -.8rem;
        //top: -.5rem;
        @include media($mobile) {
          display: none;
        }
      }
    }
  }
  &__support {
    padding-top: 2rem;
  }
  &__policy {
    padding-top: 4rem;
  }
  &__partnerships {
    @extend .se-contact-us__policy;
  }
  &__program {
    @extend .se-contact-us__policy;
  }
  &__office {
    @extend .se-contact-us__policy;
  }
  &__address {
    padding-top: 2.5rem;
  }
}