@import "common/settings/variables";
@import "common/utils";

.o-scroll-up {
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;

  }

  &__root, &__h-width{
    flex: 1 10 3.5rem;
    @include media("max-width: #{$w-desktop + 226px}") {
      display: none;
    }
    &_hide_true {
      display: none;
    }
  }

  &__root {

    position: relative;
    color: $brand;
    cursor: pointer;
    opacity: 1;
    z-index: 100;
    box-sizing: content-box;
    animation-duration:1s;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    &:hover {
      transition: background-color 0.4s ease-in-out;
      background-color: $blue-3;
    }
  }
  &__button{
    padding-left: 2.5rem;

    position: fixed;
    &-icon {
      display: inline-block;
      width: 1.6rem;
      height: .7rem;
      vertical-align: middle;
      padding-right: 1.2rem;
      transform: translateY(-.2rem)
    }

    &-text {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.6rem;
      color: $brand;
    }
  }
  &__children{
    flex: 0 1 auto;
    margin: 0 auto;
  }

  &__h-height, &__h-widht{
    visibility: hidden;
  }

}

//@keyframes opacityUP {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}


@keyframes mouseOut {
  from {
    background-color: $blue-3;
  }
  to {
    background-color: white;
  }
}

@keyframe mouseIn {
  from {
    background-color: white;
  }
  to {
    background-color: $blue-3;
  }
}