@import "common/settings/variables";
@import "common/utils";

.o-scroll-up {
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;

  }

  &__root, &__h-width{
    flex: 0 10 12rem;
    @include media("max-width: #{$w-desktop + 226px}") {
      display: none;
    }
    &_hide_true {
      display: none;
    }
  }

  &__root {
    transition: all .3s ease;
    position: relative;
    color: $brand;
    cursor: pointer;
    z-index: 98;
    box-sizing: content-box;

    opacity: 1;
    &:hover {
      background-color: $blue-3;
    }
  }
  &__button{
    padding-left: 2.5rem;
    position: fixed;
    padding-top: 1.2rem;
    &-icon {
      display: inline-block;
      width: 1.6rem;
      height: .7rem;
      vertical-align: middle;
      padding-right: 1.2rem;
      transform: translateY(-.2rem)
    }

    &-text {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.6rem;
      color: $brand;
    }
  }
  &__children{
    flex: 0 1 auto;
    margin: 0 auto;
  }

  &__h-height, &__h-widht{
    visibility: hidden;
  }

}