@import "common/utils";
@import "common/settings/variables";

.o-quick-tip{
  &__root{
    display: flex;
    height: 50px;
    border-radius: 8px;
    border: solid 1px $c-control-default;
    align-items: center;
    justify-content: center;
    margin: 0 22px;
    @include media($tablet) {
      margin: 0 6px;
    }
  }
  &__image{
    padding-right: 10px;
  }
  &__question{
    padding-right: 6px;
    font-weight: bold;
  }
}