@import "common/settings/variables";
@import "common/utils";

.se-home-use-cases {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20%;
  padding-left: 27.6%;
  background-image: url('/img/design-v2/sections/use-cases/waves.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
  @include media($tablet) {
    padding: 180px 30px 90px;
  }
  @include media($mobile-xs) {
    padding: 200px 15px 60px;
  }

  &__content {
    width: 100%;
    position: relative;
    font-family: $font-ProximaNova;
  }

  &__title {
    margin-bottom: 150px;
    @include media($desktop-xxl) {
      margin-bottom: 100px;
    }
  }

  &__slider{
    display: flex;
    position: relative;
    flex-direction: row;
    transition: transform .5s ease-in-out;
    &-item {
      flex-shrink: 0;
      width: 50%;
      padding-right: 60px;
      margin-right: 0;
      @include media($mobile) {
        width: 100%;
      }
    }
    &-wrap{
      width: 100%;
      overflow: hidden;

    }
  }
  &__dots{
    text-align: center;
    width: 30%;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    display: none;
    @include media ($mobile) {
      display: flex;
    }
    &-item{
      height: 3.5rem;
      width: 3.5rem;
      vertical-align: middle;

      &:after{
        content: '';
        height: .8rem;
        width: .8rem;
        border: 1px solid $color-main-blue;
        margin-right: 1rem;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;

      }
      &:hover, &_active_true{
        &:after{
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
  &__nav{
    position: absolute;
    left: 60%;
    transform: translate3d(-60%, 0, 0);
    top: 50%;
    width: 120%;
    display: flex;
    justify-content: space-between;
    @include media ($tablet) {
      margin-top: 3rem;
      position: relative;
      width: 40%;
      left: 50%;
      transform: translate3d(-50%, 0, 0);

    }
    @include media ($mobile) {
      display: none;

    }
    &-prev{
      display: block;
      margin-right: 6rem;
      cursor: pointer;
      &:after{
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        transform: rotate(-135deg);
        border-top: 3px solid $color-main-blue;
        border-right: 3px solid $color-main-blue;
      }
    }
    &-next{
      display: block;
      cursor: pointer;
      &:after{
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        transform: rotate(45deg);
        border-top: 3px solid $color-main-blue;;
        border-right: 3px solid $color-main-blue;;
      }
    }
  }

}