@import "common/settings/variables";
@import "common/utils";

/* Personal Header
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.o-personal-header {
  &__section-header {
    width: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @include media($mobile) {
      width: 90%;
      margin: 0 auto;
    }
    .a-image__root {
      width: auto;
    }
  }
  &__avatar {
    &-sm {
      &_true {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
    }
  }
  &__phone {
    color: $white;
    font-size: 14px;
    padding-left: 1rem;
    margin: 0;
  }
}