@import "common/settings/variables";
@import "common/utils";

.o-handy-links {
  &__inner {
    padding: $identation * 5 0 $identation * 2.5; // clarify
    @include media($mobile) { padding: $identation * 2 0; } // clarify

    .a-h { margin-bottom: 10px; }
  }

  &__list {
    display: flex;
    height: 150px;
    padding-top: $identation * 2.5; // clarify;
    justify-content: center;
    align-items: stretch;
    @include media($mobile) {
      padding-top: $identation * 1.5;
      height: auto;
      flex-flow: column;
    }

    &-item {
      display: flex;
      margin: 0 $identation / 2;
      flex-basis: 33%;
      max-width: 207px;
      @include media($mobile) {
        flex-basis: 100%;
        max-width: none;
        & + & { margin-top: 20px; }
      }
    }
  }

  &__link {
    display: flex;
    width: 100%;
    padding: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: $gray-3;
    border: 1px solid transparent;
    border-radius: 6px;
    background: $c-bg;
    background-clip: padding-box;
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      z-index: -1;
      border-radius: 6px;
      background: #979797;
    }
    &:hover:after {
      background: linear-gradient(to bottom, #e32072 0%, #4B6BC6 100%);
    }
  }
}
