@import "common/settings/variables";
@import "common/utils";

/* Country Modal
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.se-personal-form-country {


  &__background{
    background: white;

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    //margin-top: -50vh;
    //margin-left: -50vw;

    background: rgba(0, 0, 0, 0.1);
    top:0;
    left: 0;
  }
  &__link {
    display: block;
    margin: 3rem auto;
    padding: 1rem;
    border: .1rem solid #ccc;

  }



  &__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    //display: none;
  }
  &__country-form {
    width: 40rem;
    margin: 3rem auto;
    background: $white;
    box-sizing: border-box;
    position: relative;
    @include media($mobile) {
      width: 100%;
      height: 100%;
    }
  }
  &__form {
    &-head {
      background: #4b7fa5;
      position: relative;
      display: flex;
      align-items: center;
      height: 5rem;
      padding: 0 1rem;
    }
    &-title {
      color: $white;
      font-size: 1.3rem;
      font-weight: 700;
      padding-left: 1rem;
    }
    &-close-bt {
      color: $white;
      border: none;
      position: absolute;
      right: 1rem;
      font-size: 1.2rem;
      background: transparent;
      font-weight: 700;
      &:hover {
        opacity: .8;
      }
    }
  }
  &__country-codes {
    list-style: none;
    padding: 1em;
    max-height: 25em;
    min-height: 25em;
    overflow-y: scroll;

  }
  &__search-input {
    width: 100%;
    margin-bottom: 1em;
    display: block;
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 4rem;
    border: .1rem solid #ddd;
    box-sizing: border-box;
    border-radius: .4rem;
  }
  &__search-input-bt {
    background: transparent;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    outline: none;
    position: absolute;
    top: 1.3em;
    left: 2rem;
    cursor: pointer;
  }
  &__search-input-icon {
    width: 1.8rem;
    height: 1.8rem;
    transform: rotate(90deg);
  }
  &__path {
    stroke: #ccc;
    fill: #ccc;
  }
  &__circle {
    stroke: #ccc;
  }
  &__code-link {
    user-select: none;
    cursor: pointer;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    display: block;
    border-radius: .4rem;
    &:hover {
      background: #f1f6fa;
    }
  }
  &__code-number {
    float: right;
    color: #ccc;
    font-size: 1.2rem;
    font-weight: 700;
  }
  &__modal-close {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
    opacity: .8;
    &:hover {
      opacity: .9;
    }
    &:before {
      left: 0;
      top: 50%;
      height: .2rem;
      content: '';
      background: #fff;
      width: 100%;
      position: absolute;
      transition: transform 0.25s;
      transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      background: #fff;
      left: 0;
      top: 50%;
      height: .2rem;
      content: '';
      width: 100%;
      position: absolute;
      transition: transform 0.25s;
      -webkit-transform-origin: 50% 50%;
    }
    @include media($mobile) {
      display: none;
    }
  }
}