@import "common/settings/variables";
@import "common/utils";

/* Stepper Section
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.o-stepper {
  &__list {
    width: 30rem;
    list-style: none;
  }
  &__step {
    height: 4.5rem;
    position: relative;
    display: flex;
    &:last-of-type {
      .o-stepper__bar {
        display: none;
      }
    }
    &--next {
      .o-stepper__dot {
        background: $blue-2;
      }
    }
  }
  &__bar {
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: .2rem;
      left: 0;
      top: 0;
      background: $gray-1;
    }
    &:after {
      content: '';
      position: absolute;
      width: .2rem;
      height: 0;
      left: 0;
      top: 0;
      background: $blue-2;
      transition: height .5s ease;
    }
  }
  &__dot {
    position: absolute;
    width: .8rem;
    height: .8rem;
    display: block;
    background: #f5f5f5;
    top: 0;
    left: 0;
    margin-top: -.3rem;
    margin-left: -.3rem;
    border-radius: 50%;
    z-index: 2;
    transition: background .3s ease;
    &:before {
      content: '';
      background: transparent;
      width: 1.1rem;
      height: 1rem;
      position: absolute;
      top: .4rem;
      left: .4rem;
      transition: background .3s ease;
    }
  }
  &__txt {
    position: absolute;
    top: -1.4rem;
    left: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #617079;
    .o-stepper__step_step_true & {
      color: $blue-1;
      font-weight: 600;
    }
    .o-stepper__step--next & {
      color: #617079;
      font-weight: 600;
    }
  }
  &__step {
    &_step {
      &_true {
        .o-stepper__bar {
          &:after {
            height: 100%;
          }
        }
        .o-stepper__dot {
          background: $blue-2;
          width: 1.6rem;
          height: 1.6rem;
          margin-top: -.7rem;
          margin-left: -.7rem;
          &:before {
            background: url('/img/icons/check.svg');
            content: '';
            width: .9rem;
            height: .8rem;
            position: absolute;
            top: .4rem;
            left: .4rem;
            transition: background .3s ease;
          }
        }
      }
    }
  }
}