@import "common/utils";

.o-news{
  display: flex;
  margin-bottom: 35px;
  &__author{
    padding-top: 8px;
    flex: 0 0 168px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.78;
    text-align: right;
    color: #32a351;
    p{
      font-weight: normal;
      color: $default;
      font-size: 15px;
      line-height: 1.6;
    }
  }
  &__body{
    flex: 1 0 10em;
    font-size: 24px;
    line-height: 2.0;
    color: #283c50;
    margin-left: 28px;
    p{
      font-weight: normal;
      font-size: 14px;
      line-height: 1.71;
      color: #5f7387;
    }
  }
}