@import "common/settings/variables";
@import "common/utils";

.se-wiki-layout{
  &__search{
    background-color: #598fba;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: $white;
    @include media($mobile) {
      display: block;
      padding-top: 6rem;
    }
  }
}