@import "common/settings/variables";
@import "common/utils";

.o-footer {

  &_menu_open_true {
    background-color: red;
  }
  &__inner {
    padding: $identation * 2.5 0; // clarify
    display: flex;
    @include media($mobile) {
      padding: 0;
      margin: 0 (-$identation);
      flex-flow: column;
    }
  }

  &__nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include media($mobile) {
      width: 100%;
      flex-flow: column;
    }

    &-section {
      &:first-child {
        @include media($mobile) {
          border: none;
        }
      }
      &:last-child {
        @include media($mobile) {
          border: 1px solid $c-border;
        }
      }
      width: 25%;
      padding-right: $identation;

      @include media($mobile) {
        border-top: 1px solid $c-border;

        width: 100%;
        padding-right: 0;
      }

      &__title {
        user-select: none;
        margin-bottom: 5px;
        font-size: 11px;
        line-height: 2.18;
        font-weight: 600;
        text-transform: uppercase;
        color: #4a4a4a; // clarify
        @include media($mobile) {
          cursor: pointer;
          height: $identation * 2.5; // ?
          padding: 0 $identation;
          line-height: $identation * 2.5; // ?
          margin-bottom: 0;
          background: url('/img/icons/plus.svg') right 13px center no-repeat;
        }
        &_is-open_true {
          @include media($mobile) {
            background: url('/img/icons/minus.svg') right 13px center no-repeat;
          }
        }
      }
    }

    &-list {
      &_is-open_false {
      @include media($mobile) {
        display: none;
      }
      &_is-open_false {
        @include media($mobile) {
          display: none;
        }
      }
      &__item {
        font-size: 13px;
        line-height: 2.15;
        color: #9e9ea6; // clarify
        &:hover {
          color: #8C8C94;
        }
        // clarify

      }
      @include media($mobile) {
        padding: 0 31px 20px;
      }

      }
      @include media($mobile) {
        padding: 0 31px 20px;
      }

    }
  }

  &__aux {
    width: 20%;
    min-width: 200px;
    @include media($mobile) {
      width: 100%;
    }
  }

  &__lang {
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.75;
    color: #89898b; // clarify
    border-radius: 4px;
    border: solid 1px $gray-1;
    @include media($mobile) {
      width: 100%;
      height: 54px;
      padding: 0 $identation;
      line-height: 54px;
      border: 0;
    }
  }

  &__soc {
    margin-top: $identation;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media($mobile) {
      height: $identation * 3;
      margin-top: 0;
      justify-content: center;
      border-top: 1px $c-border solid;
    }

    &-item {
      font-size: 0;
      @include media($mobile) {
        & + & {
          margin-left: $identation;
        }
      }
    }
  }
}