@import "common/utils";
@import "common/settings/variables";

.a-p{
  &_type{
    &_hero {
      font-size: 1.5rem;
      line-height: 2.6rem;
      border-left: $interactive-border-l;
      padding: .3rem 0 .3rem 1.7rem;
    }
    &_first {
      font-size: 18px;
      line-height: 28.0px;
    }
    &_second{
      font-size: 14px;
    }
    &_third{
      font-size: 1.5rem;
      line-height: 2.6rem;
      &-center{
        font-size: 1.5rem;
        line-height: 2.6rem;
        text-align: center;
      }
    }
    &_fourth{
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.6rem;
      color: $brand;
    }
  }
}