@import "common/settings/variables";
@import "common/utils";

.m-teaser-main-content {
  display: flex;
  flex-direction: column;
  @include media($desktop) { padding-right: 468px; }
  @include media($tablet) { padding-right: 10%; }
  @include media($mobile) { padding-right: 0; }

  &__title {
    line-height: 1.15em;
    font-weight: 700;
    @include media($desktop) {
      margin: 0 -7px;
      font-size: 87px;
    }
    @include media($tablet) { font-size: 50px; }
    @include media($mobile) {
      font-size: 46px;
      font-size: 14vw;
    }

  }

  &__description {
    margin-top: $identation * 1.5;
    font-size: 18px;
    line-height: 1.56em;
    @include media($mobile) {
      order: 1;
      margin: 0 (-$identation);
      padding: ($identation * 3) $identation ($identation * 2);
      background: $c-brand;
      color: $c-brand-invert;
    }
  }

  &__subscribe {
    margin-top: $identation * 2;
    @include media($mobile) {
      margin-bottom: 115px;
    }
  }
}
