@import "common/settings/variables";
@import "common/utils";

.o-menu{
  min-width: 30rem;
  &__wider-screens{
    font-size: 13px;
    font-weight: bold;
    line-height: 20.0px;
    @include media ($tablet) {
      display: none;
    }
    @include media ($mobile) {
      display: none;
    }
    &_sticky-menu_true{
      top: 1.2rem;
      position: fixed;

    }

  }
  &__smaller-screens{
    @include media ($desktop) {
      display: none;
    }

  }
  &__nav-links-item{
    a{
      font-size: 13px;
      font-weight: bold;
      line-height: 20.0px;
      padding-left: 21px;

    }
    div{
      font-family: OpenSans;
      font-size: 13px;
      font-weight: bold;
      line-height: 20.0px;
      color: #0088cc;
      border-left: 2px solid #0088cc;
      padding-left: 19px;
    }
    &_active_true{


    }
    &_active_false{
      .a-link {
        color: #000;
      }
    }
  }
}