@import "common/settings/variables";
@import "common/utils";

.o-menu{
  min-width: 30rem;
  &__nav-links-item{
    &_active_true{
      color: #179cde;
      p{
        margin-bottom: 0;
      }
    }
    &_active_false{
      .a-link {
        color: #000;
      }
    }
  }
}