@import "common/settings/variables";
@import "common/utils";

.m-partners-h {
  $this: &;
  box-sizing: content-box;
  border: 1px dotted black;
  width: 100px;
  &::before {
    content: 'contributing organizations';
    position: absolute;
    top: 183px;
    left: -210px;
    display: block;
    font-family: $font-ProximaNova;
    font-size: 16px;
    line-height: 2;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: $color-black;
    font-weight: 700;
    transform: rotate(-90deg);
  }

  &__partners-container {
    position: relative;
    padding: 0 15px;
    width: 100%;
    max-height: 365px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__partner-link {
    &:hover > #{$this}__partner-logo {
      transform: scale(1.5) translateZ(0);
    }
  }

  &__partner-logo {
    width: 100%;
    transition: transform .3s,-webkit-transform .3s linear;
  }
}