@import "common/utils";
@import "common/settings/variables";

.se-wiki-info{
  &__root{
    display: flex;
    justify-content: space-between;
    @include media($mobile) {
      align-items: center;
      flex-direction: column-reverse;
    }
  }
  &__img-side{
    flex: 0 0 16rem;
    height: 16rem;
    @include media($mobile) {
      height: auto;

    }

  }
  &__img{
    @include media($mobile) {
      max-width: 16rem;
      margin: 0 auto 4rem;
    }
  }
  &__body{
    flex: 0 1 72.4rem;
    padding-right: 2rem;
    @include media($mobile) {
      flex-basis: auto;
    }
  }

}