@import "common/settings/variables";
@import "common/utils";

.se-ambassadors{
  &__list{
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    &-item{
      flex-basis: 19.6rem;
      padding: 2rem;
      height: 19.6rem;
      align-items: center;
      &-empty{
        flex-basis: 19.6rem;
      }
      @include media($mobile) {
        flex-basis: 15rem;
        height: 15rem;
        padding: 1rem;
      }
    }
  }

  &__form{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 4rem;
    &-select{
      margin-right: 3rem;
      display: inline-block;
      @include media($mobile) {
        width: 100%;
        margin: 0;
        margin-bottom: 1.6rem;
      }
    }
  }
  &__tooltip{
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity .5s linear;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    &_type{
      &_left{
        right: 50%;
      }
      &_right{
        left: 50%;
      }
    }
  }
  &__link{
    display: none;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.se-ambassadors__list-item:hover .se-ambassadors__tooltip{
  visibility: visible;
  opacity: 1;
  @include media($tablet) {
    display: none;
  }
}

.se.se-ambassadors__list-item:hover .se-ambassadors__link{
  @include media($tablet) {
    display: block;
  }
}

