@import "common/settings/variables";
@import "common/utils";

.o-simple-form-h {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  &__title {
    display: block;
    padding: 30px 30px 20px 30px;

	text-align: left;
	margin-bottom: 65px;
    margin-top: 30px;

    font-weight: 700;
    font-size: 20px;

    background: #fff;

    color: #000;

    @include media($mobile) {
      font-size: 14px;
      line-height: normal;
    }
  }
  &__subtitle {
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #747474;
    margin: 20px 0 0 0;
    //text-align: center;
    @include media($mobile) {
      text-align: center;
    }
  }

  &__submit-btn {
	width: 100%;
  }
}