@import "common/settings/variables";
@import "common/utils";

.o-static-info {
  &__inner {
    display: flex;
    padding: $identation * 2.5 0; // clarify
    justify-content: space-between;
    align-items: stretch;
  }

  &__text {
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: center;
  }

  &.accent {
    background: $c-brand;
    &, h3, p { color: $c-brand-invert; }
  }

  &.flip .o-static-info__inner {
    flex-direction: row-reverse;
  }
}