@import "common/settings/variables";
@import "common/utils";

.o-static-info {
  &__inner {
    display: flex;
    padding: $identation * 2.5 0; // clarify
    justify-content: space-between;
    align-items: stretch;
    @include media($tablet) { flex-flow: column-reverse; }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media($desktop) { width: 450px; }
    @include media($tablet) { width: 100%; }

    .a-button-link {
      display: table;
      margin-top: $identation;
    }
  }

  &__image {
    @include media($desktop) {
      width: 450px;
      height: 300px;
    }
    @include media($tablet) {
      width: 100%;
      height: auto;
    }
  }

  &.accent {
    background: $c-brand;
    &, h3, p { color: $c-brand-invert; }
    h3 { font-weight: 700; }
  }

  &.flip {
    .o-static-info__inner {
      padding: $identation * 4 0;
      margin-top: $identation * 4;
      border-top: 1px #d6d6d6 solid;
      @include media($desktop) { flex-direction: row-reverse; }
    }
    h3 { font-weight: 700; }
  }
}