@import "common/utils";
@import "common/settings/variables";
@import "common/utils";

.a-btn{
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;

  &.disabled{
    pointer-events: none;
  }



  &_style_common{
    padding: .8rem 1.6rem 1rem;
    color: white;
    background-color: #439fe0;

    &:hover, &:active{
      background-color: #2289d3;
    }
    &.disabled{
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &_style_light{
    border: 2px solid rgba(37, 48, 57, 0.8);
    color: rgba(37, 48, 57, 0.8);
    &:hover, &:active{
      color: #253039;
      border-color: #253039;
    }
    &.disabled{
      color: rgba(37, 48, 57, 0.4);
      border-color: rgba(37, 48, 57, 0.4);
    }
  }

  &_type_link{
    display: table;
    text-align: center;
    @include media($mobile) {
      width: 100%
    }
    @include media($tablet) {
      margin: 0 auto;
      width: 100%;
      max-width: $w-mobile
    }
  }

  &_subscribe{
    display: table;
    text-align: center;
    @include media($mobile) {
      width: 100%
    }
    @include media($tablet) {
      margin: 0 auto;
      width: 100%;
      max-width: $w-mobile
    }
  }
  &_style_common, &_style_light-link, &_style_dark-link, &_style_button-link{
    height: 3.8rem;
    border-radius: .4rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  &_style_button-link{
    padding: 1rem 1.5rem;
    color: white;
    background-color: #439fe0;
    &:hover, &:active{
      background-color: #2289d3;
    }
    &.disabled{
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }


  &_style_dark-link, &_style_light-link{
    padding: 1rem 1.5rem;
    background-color: transparent;

  }


  &_style_light-link{
    border: solid 2px rgba(255, 255, 255, 0.8);

    &:hover, &:active{
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
    }
    &.disabled{
      color: rgba(255, 255, 255, 0.4);
      border-color: rgba(255, 255, 255, 0.4);
    }
  }


  // uses only in nav menu, but header has his own button
  //&_style_dark-link{
  //  border: 2px solid rgba(255, 255, 255, 0.8);
  //  color: rgba(255, 255, 255, 0.8);
  //  &:hover, &:active{
  //    color: rgba(255, 255, 255, 1);
  //    border-color: rgba(255, 255, 255, 1);
  //  }
  //  &.disabled{
  //    color: rgba(255, 255, 255, 0.4);
  //    border-color: rgba(255, 255, 255, 0.4);
  //    pointer-events: none;
  //  }
  //}
}
