@import "common/utils";

.o-hero{
  max-width: 360px;
  margin-bottom: 35px;

  &__text{
    width: 360px;
    height: 160px;
    font-size: 17px;
    line-height: 1.88em;
    color: #5f7387;
  }
  p{
    margin-top: 3px;
    color: $non-critical;
    span{
      text-decoration: underline;
    }
  }
}