@import "common/settings/variables";
@import "common/utils";

.o-hero{
  &__root{
    background-color: #f4f7fa;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 54px;
    @include media($tablet) {
      margin-bottom: 52px;
    }
    @include media($mobile) {
      margin-bottom: 40px;
    }
  }
  &__container{
    max-width: 970px;
    margin: 0 auto;
    padding: 0 13px;
  }
  &__inner{
    display: flex;
    position: relative;
    justify-content: flex-end;
    @include media($mobile) {
      flex-wrap: wrap;
      padding-bottom: 52px;
    }
  }
  &__inbuilt, &__framed{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    @include media($mobile) {
      width: 100%;
    }

  }
  &__inbuilt{
    padding: 57px 20px 42px 33px;
    img{
      width: 120px;
      height: 120px;
    }
    @include media($mobile) {
      img{
        width: 128px;
        height: 128px;
      }
      padding: 25px 24px 0;
    }
  }

  &__framed{
    border-radius: 4px;
    background-color: $c-bg;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    margin-top: -16px;
    margin-bottom: -15px;
    padding: 65px 68px 66px 74px;
    img{
      width: 128px;
      height: 128px;
    }
    @include media($tablet) {
      margin-top: -18px;
      margin-bottom: -15px;
      padding: 68px 10px 66px 10px;
    }
    @include media($mobile) {
      margin-top: 0;
      margin-bottom: 15px;
      background-color: unset;
      border-radius: 0;
      box-shadow: none;
      padding: 25px 24px 0;
    }

  }
  &-item{
    &__root{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title{
      height: 40px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.67;
      text-align: center;
      color: #2c2d30;
      margin-bottom: 6px;
      @include media($mobile) {
        margin-bottom: 21px;
      }
    }
    &__img {
      text-align: center;
      margin-bottom: 17px;
      @include media($mobile) {
        margin-bottom: 21px;
      }
    }
    &__text{
      color: #565759;
      padding: 0 9px 0 14px;
      text-align: center;
      margin-bottom: 25px;
      @include media($tablet) {
        padding: 0;
      }
      @include media($mobile) {
        margin-bottom: 16px;
      }
    }
    &__button{
      display: inline-block;
      margin: 0 auto;
      @include media($mobile) {
        margin: 0;
        text-align: center;
      }
    }
  }
}