$primary: #4594ff;
$secondary: #ff9800;
$optional: #eeeeee;
$titles: rgba(0,0,0,0.87);
$default: #212121;
$non-critical: #9fabb7;

$primary-extra: lighten($primary, 30%);
$background: #aaaaaa;
$disabled: #EAEAEA;