@import 'brand';

body {
  font-size: 16px;
  font-family: 'Noto', sans-serif;
  overflow: auto;
  background-color: #ffffff;
  color: $default;

}

video {
  width: 100%    !important;
  height: auto   !important;
}

body > div {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

}

div {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}