// COLORS

$white: #fff;
$black-1: #333333;
$black-2: #2c2d30;
$blue-1: #0088cc;
$blue-2: #179cde;
$grayblue: #5481a4;
$gray: #e8e8e8;

$text: $black-1; // - text
$title: $black-2; // - title

$brand: #0088cc; //- brand text
$interactive: #179cde; // itneractive text (links, buttons, ...etc)
$interactive-border-size-1: 3px;
$interactive-border-size-2: 5px;

$theme-1: $white;
$theme-2: $grayblue;

$interactive-border-b: solid $interactive-border-size-1 $blue-2;
$interactive-border-l: solid $interactive-border-size-2 $blue-2;

$border-line: solid 1px $gray;



$c-bg:$white;
//new colors
//$b-blue: #439fe0;
//$b-blue-active: #2289d3;
//
//$b-dark: rgba(37, 48, 57, 0.8);
//$b-dark-active: #253039;
//
//$b-light: rgba(255, 255, 255, 0.8);
//$b-light-active: rgba(255, 255, 255, 1);


//
////$trans-black-f-t: rgba(37, 48, 57, 0.4);
////$trans-black-f-b: rgba(255, 255, 255, 0.1);
//
//$trans-light-f-t: rgba(255, 255, 255, 0.5);
//$trans-light-f-b: rgba(0, 0, 0, 0.2);
//
//$trans-dark-t-c: rgba(255, 255, 255, 0.4);
//$trans-dark-t-b: rgba(255, 255, 255, 0.4);
//
//$trans-light-t-t: rgba(37, 48, 57, 0.4);
//$trans-light-t-b: rgba(37, 48, 57, 0.4);
//
//
//
//$black-1: #000000;
//$black-2: #253039;
//$black-3: #555459;
//$black-4: #4a4a4a;
//$black-5: #253039;
//$blue-1: #3aa3e3;
//$blue-2: #439fe0;
//$blue-3: #2d9ee0;
//$blue-4: #3180f8;
//$blue-5: #178ccc;
//$blue-6: #2289d3;
//$lightblue: #f1f8fd;
//$lightblue-1: #ebf6fd;
//$gray-1: #e3e3e3;
//$gray-2: #d6d6d6;
//$gray-3: #2c2d30;
//$gray-4: #a0a0a2;
//$gray-5: #b2b2b3;
//$gray-6: #989a9f;
//$gray-7: #89898b;
//$gray-8: #c5c5c5;
//$trans-1: rgba(255, 255, 255, 0.5);
//$trans-2: rgba(0, 0, 0, 0.2);
//$trans-3: rgba(37, 48, 57, 0.8);
//$trans-4: rgba(37, 48, 57, 0.4);
//$trans-5: rgba(255, 255, 255, 0.8);
//$trans-6: rgba(255, 255, 255, 0.4);
//$green-1: #36a64f;
//$red-1: red;
//
//$c-bg: $white;
//$c-font: $black-2;
//$c-border: $gray-2;
//$c-brand: $blue-1;
//$c-brand-dark: $black-2;
//$c-brand-invert: $white;
//$c-control-default: $gray-1;
//$c-control-primary: $blue-2;
//$c-control-disabled: $gray-2;
//$c-success: $green-1;
//$c-error: $red-1;
//$c-placeholder: $gray-6;


// DIMENSIONS

$w-desktop: 980px;
$w-desktop-wide: 1120px;
$w-tablet: 768px;
$w-mobile: 288px;

$identation: 2rem;
$header-height: 12.2rem;
$control-height: 4rem;

$p-mobile: 1.6rem;
$p-tablet: 2rem;
$p-desktop: 2rem;

// MEDIA QUERIES

$desktop: "min-width: #{$w-desktop}";
$tablet: "max-width: #{$w-desktop - 1px}";
$mobile: "max-width: #{$w-tablet - 1px}";
$mobile-up: "min-width: #{$w-tablet}";