// new colors v.2

$h-blue-1: #58a1fc;
$h-black-1: #000;

$h-bg: $h-blue-1;

// COLORS

$white: #fff;
$black-1: #333333;
$black-2: #2c2d30;
$blue-1: #0088cc;
$blue-2: #179cde;
$blue-3: #ecf3fa;
$blue-4: #6bace1;
$blue-5: #178ccc;
$blue-6: #598fba;

$grayblue-1: #5481a4;
$grayblue-2: #f4f6f8;
$gray-1: #e8e8e8;
$gray-2: #c5c5c5;
$gray-3: #b3b3b3;
$gray-4: #e6e6e6;
$gray-5: #48474c;
$gray-6: rgb(232, 232, 232);
$red-1: #ff1744;

$text: $black-1; // - text
$title: $black-2;// - title
$brand: $blue-1;//- brand text

$interactive: $blue-2; // itneractive text (links, buttons, ...etc)

$wiki-articles: $blue-5;
$shadow-1: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
$shadow-2: 0 1px 2px rgba(0,0,0,0.2);


//forms
$form-border-color: $gray-2;
$form-active-color: $blue-4;
$form-inactive-color: $gray-3;
//$form-inactive-color: $gray-4;

$form-error-color: $red-1;
$form-disabled-color: $gray-6;
$form-placeholder-color: $gray-3;
$form-mark-color: $black-1;
$form-radius: .2rem;
$form-shadow: $shadow-1;


$interactive-border-size-1: .3rem;
$interactive-border-size-2: .5rem;

$theme-1: $white;
$theme-2: $grayblue-1;
$theme-3: $grayblue-2;

$theme-shadow: $shadow-1;

$interactive-border-b: solid $interactive-border-size-1 $blue-2;
$interactive-border-b-white: solid $interactive-border-size-1 $white;


$interactive-border-l: solid $interactive-border-size-2 $blue-2;

$border-line: solid 1px $gray-1;

$c-bg:$white;
//new colors
$b-blue: #439fe0;
$b-blue-active: #2289d3;
//
//$b-dark: rgba(37, 48, 57, 0.8);
//$b-dark-active: #253039;
//
//$b-light: rgba(255, 255, 255, 0.8);
//$b-light-active: rgba(255, 255, 255, 1);


//
////$trans-black-f-t: rgba(37, 48, 57, 0.4);
////$trans-black-f-b: rgba(255, 255, 255, 0.1);
//
//$trans-light-f-t: rgba(255, 255, 255, 0.5);
//$trans-light-f-b: rgba(0, 0, 0, 0.2);
//
//$trans-dark-t-c: rgba(255, 255, 255, 0.4);
//$trans-dark-t-b: rgba(255, 255, 255, 0.4);
//
//$trans-light-t-t: rgba(37, 48, 57, 0.4);
//$trans-light-t-b: rgba(37, 48, 57, 0.4);
//
//
//
//$black-1: #000000;
//$black-2: #253039;
//$black-3: #555459;
$black-4: #4a4a4a;
//$black-5: #253039;
$blue-1: #3aa3e3;
//$blue-2: #439fe0;
//$blue-3: #2d9ee0;
//$blue-4: #3180f8;
//$blue-5: #178ccc;
//$blue-6: #2289d3;
//$lightblue: #f1f8fd;
//$lightblue-1: #ebf6fd;
//$gray-1: #e3e3e3;
//$gray-2: #d6d6d6;
$gray-3: #2c2d30;
//$gray-4: #a0a0a2;
//$gray-5: #b2b2b3;
//$gray-6: #989a9f;
//$gray-7: #89898b;
$gray-8: #c5c5c5;
//$trans-1: rgba(255, 255, 255, 0.5);
//$trans-2: rgba(0, 0, 0, 0.2);
//$trans-3: rgba(37, 48, 57, 0.8);
//$trans-4: rgba(37, 48, 57, 0.4);
//$trans-5: rgba(255, 255, 255, 0.8);
//$trans-6: rgba(255, 255, 255, 0.4);
//$green-1: #36a64f;
//$red-1: red;
//
//$c-bg: $white;
//$c-font: $black-2;
//$c-border: $gray-2;
//$c-brand: $blue-1;
//$c-brand-dark: $black-2;
//$c-brand-invert: $white;
//$c-control-default: $gray-1;
//$c-control-primary: $blue-2;
//$c-control-disabled: $gray-2;
//$c-success: $green-1;
//$c-error: $red-1;
//$c-placeholder: $gray-6;


// DIMENSIONS

$w-desktop-xxl: 1600px;
$w-desktop-13: 1500px;
$w-desktop-xl: 1120px;
$w-desktop-wide: $w-desktop-xl;
$w-desktop: 980px;
$w-tablet: 768px;
$w-mobile-xs: 432px;

$w-mobile: 288px;

$identation: 2rem;
$header-height: 12.2rem;
$control-height: 4rem;

$p-mobile: 1.6rem;
$p-tablet: 2rem;
$p-desktop: 2rem;

// MEDIA QUERIES
$desktop: "min-width: #{$w-desktop}";

$desktop-xxl: "max-width: #{$w-desktop-xxl}"; //
$desktop-13: "max-width: #{$w-desktop-13}"; //
$desktop-xl: "max-width: #{$w-desktop-xl}"; //настоящий таблет.
$tablet: "max-width: #{$w-desktop - 1px}";
$mobile: "max-width: #{$w-tablet - 1px}";
$mobile-xs: "max-width: #{$w-mobile-xs}"; //!

$mobile-up: "min-width: #{$w-tablet}";

//NEW MAIN PAGE VARIABLES
//NEW COLORS
$color-white: #ffffff;
$color-black: #000000;

$color-main-deep-blue: #0070d6;
$color-main-blue: #58a1fc;
$color-main-light-blue: #71affc;
$color-main-red-error: #f26d7d;

$color-text-gray: #a9aeb2;

//NEW FONT STACKS
$font-ProximaNova: ProximaNova, sans-serif;
$font-Celdum: Celdum, sans-serif;