// COLORS

$white: #ffffff;
$black-1: #000000;
$black-2: #253039;
$black-3: #555459;
$blue-1: #3aa3e3;
$blue-2: #439fe0;
$blue-3: #2d9ee0;
$lightblue: #f1f8fd;
$lightblue-1: #ebf6fd;
$gray-1: #e3e3e3;
$gray-2: #d6d6d6;
$gray-3: #2c2d30;
$gray-4: #a0a0a2;
$gray-5: #b2b2b3;
$gray-6: #989a9f;
$green-1: #36a64f;
$red-1: red;

$c-bg: $white;
$c-font: $black-2;
$c-border: $gray-2;
$c-brand: $blue-1;
$c-brand-invert: $white;
$c-control-default: $gray-1;
$c-control-primary: $blue-2;
$c-control-disabled: $gray-2;
$c-success: $green-1;
$c-error: $red-1;
$c-placeholder: $gray-6;
// DIMENSIONS

$w-desktop: 980px;
$w-desktop-wide: 1160px;
$w-tablet: 768px;
$w-mobile: 360px;

$identation: 20px;
$header-height: 70px;


// MEDIA QUERIES

$desktop: "min-width: #{$w-desktop}";
$tablet: "max-width: #{$w-desktop - 1px}";
$mobile: "max-width: #{$w-tablet - 1px}";