.press-releases-search {
  &__title {
    margin-bottom: 8px;
  }

  &__form {
    box-sizing: border-box;
    width: 100%;
    padding-right: 95px;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    margin-right: 10px;
    input {
      margin-bottom: 0
    }
  }
}