@import "common/utils";
@import "common/settings/variables";

.se-home-info{
  &__root{
    display: flex;
    justify-content: space-between;
    @include media($mobile) {
      flex-direction: column-reverse;
    }
  }
  &__img{
    flex: 0 0 40rem;
    @include media($mobile) {
      flex-basis: auto;
      margin-bottom: 1.6rem;
    }
    &_type_hidding-img{
      @include media($mobile) {
        display: none;
      }
    }
  }
  &__body{
    flex: 0 1 47rem;
    padding-right: 2rem;
    @include media($mobile) {
      flex-basis: auto;
      padding-right: 0;
    }
  }
}