@import "common/utils";
@import "common/settings/variables";

.se-home-info{
  &__root{
    display: flex;
    justify-content: space-between;
    @include media($mobile) {
      flex-direction: column-reverse;
    }
  }
  &__img{
    flex: 0 0 40rem;
    @include media($mobile) {
      flex-basis: auto;
    }
    &_type_hidding-img{
      @include media($mobile) {
        display: none;
      }
      &-extra{
        &:after{
          content: "";
          width: 113px;
          height: 101px;
          background: url("/img/illustrations/dotted-line.svg") 0 0 no-repeat;
          bottom: -11px;
          left: -73px;
          position: absolute;
          display: inline-block;
        }
        @include media($mobile) {
          display: none;
        }
      }
    }
  }
  &__body{
    flex: 0 1 47rem;
    padding-right: 2rem;
    @include media($mobile) {
      flex-basis: auto;
    }
  }

}