@import "common/settings/variables";
@import "common/utils";

.m-info-columns {
  $this: &;
  display: flex;
  @include media($mobile) {
    flex-direction: column;
  }
  &_type {
    &_narrow {
      #{$this}__column {
        width: 400px;
        @include media($desktop-xxl) {
          width: 300px;
        }
        @include media($mobile) {
          width: auto;
        }
      }
    }

    &_slider {
      @include media($mobile) {
        flex-direction: row;
      }
      #{$this}__column {
        flex-shrink: 0;
        width: 50%;
        padding-right: 60px;
        margin-right: 0;
        @include media($mobile) {
          width: 100%;
        }
      }
    }
  }

  &__column {
    width: 500px;
    margin-right: 106px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    @include media($desktop-xxl) {
      width: 300px;
      margin-right: 80px;
    }
    @include media($mobile) {
      width: auto;
      margin-right: 0;
      margin-bottom: 30px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
    &-image {
      margin-bottom: 25px;
      max-width: 70px;
      height: 74px;
      object-fit: fill;
      @include media($desktop-xxl) {
        max-width: 60px;
        height: 52px;
      }
      @include media($tablet) {
        max-width: 40px;
        height: 40px;
      }
    }
    &-title {
      margin-bottom: 36px;
      font-size: 31px;
      font-weight: 700;
      color: $color-black;
      @include media($desktop-xxl) {
        margin-bottom: 24px;
        font-size: 22px;
      }
      @include media($desktop-13) {
        font-size: 20px;
      }
    }
    &-text {
      color: $color-black;
      font-size: 21px;
      line-height: 1.3;
      @include media($desktop-xxl) {
        font-size: 15px;
      }
    }
  }
}