@import "common/settings/variables";
@import "common/utils";

@mixin menu() {
  position: relative;
  margin: 0;
  width: 100%;
  .m-dropdown__select{
    width: 200%;
    background-color: $interactive;
    color: $white;
    position: relative;
    left: -3rem;
    &-text{
      position: absolute;
      padding:0 2rem;
      font-weight:400;
      width: 50%;
      &:after{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid $white;
      }
    }
  }
}

.se-legal{
  &__top{
    height: 14rem;
    margin: 2rem 0;
    @include media ($tablet) {
      height: auto;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: row-reverse;
    @include media ($tablet) {
      flex-direction: column;
    }
    @include media ($mobile) {
      flex-direction: column;
    }
  }
  &__menu{
    margin-left: 10rem;
    @include media ($tablet) {
      @include menu
    }

  }
  &__sidebar{
    flex: 1 1 7rem;
    min-width: 30rem;
    display: flex;
    @include media ($tablet) {
      flex: 1 1 1.5rem;
    }
  }
  &__sections{
    max-width: 70rem;
    flex: 3 1 auto;
    overflow: auto;
  }
}