@import "common/settings/variables";
@import "common/utils";

.se-legal{
  &__top{
    height: 14rem;
    margin: 4rem 0
  }
  &__wrapper{
    display: flex;
    flex-direction: row-reverse;
    @include media ($tablet) {
      flex-direction: column;
    }
  }
  &__fixed{
    position: fixed;
    margin-left: 10rem;
    @include media ($tablet) {
      position: relative;
    }
  }
  &__sidebar{
    flex: 1 1 30rem;
    min-width: 30rem;
    display: flex;
    @include media ($tablet) {
    }
  }
  &__sections{
    max-width: 70rem;
    flex: 3 1 auto;
    overflow: auto;
  }
}