@import "common/settings/variables";
@import "common/utils";

.se-home-world-talking {
  flex-direction: column;
  justify-content: center;
  padding: 0 150px 0 14%;
  background-color: $color-main-blue;
  background-image: url('/img/design-v2/sections/world-talking/decor.jpg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  @include media($desktop-xxl) {
    padding: 0 125px 0 14%;
    background-size: auto 100%;
  }
  @include media($desktop-xl) {
    padding: 0 0 0 14%;
  }
  @include media($tablet) {
    padding: 180px 30px 90px;
  }
  @include media($mobile) {
    background-image: none;
  }
  @include media($mobile-xs) {
    padding: 200px 15px 60px;
  }

  &__content {
    width: 100%;
    position: relative;
    font-family: $font-ProximaNova;
    @include media($tablet) {
      width: auto;
      margin: 0;
    }
  }

  &__mentions-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__mention {
    box-sizing: border-box;
    width: 33%;
    margin-top: 90px;
    padding-right: 90px;
    flex-shrink: 0;
    font-family: $font-ProximaNova;
    color: $color-black;
    @include media($desktop-xxl) {
      margin-top: 55px;
    }
    @include media($desktop-xl) {
      margin-top: 30px;
    }
    @include media($tablet) {
      width: 50%;
    }
    @include media($mobile) {
      width: 100%;
      padding-right: 0;
      margin-top: 60px;
    }
    &-title {
      margin-bottom: 35px;
      font-size: 31px;
      font-weight: 700;
      @include media($desktop-xxl) {
        margin-bottom: 20px;
        font-size: 24px;
      }
      @include media($mobile-xs) {
        font-size: 22px;
      }
    }

    &-link {
      font-size: 21px;
      line-height: 1.2;
      text-decoration: underline;
      @include media($desktop-xxl) {
        font-size: 15px;
      }
    }
  }
}