@import "common/settings/variables";
@import "common/utils";

/* Transaction Section
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.o-transaction-holder {
  &__value{
    font-size: 1.2rem;
  }
  &__asset-stats {
    width: 94rem;
    margin: 0 auto;
    text-align: left;
    border-collapse: separate;
    @include media($tablet) {
      width: 69rem;
    }
    @include media($mobile) {
      width: 100%;
    }
    tbody {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-spacing: 0 1rem;
    }
    &__tr {
      position: relative;
      background: #fff;
      border-radius: .4rem;
      transition: all 0.3s ease;
      display: flex;
      &:before {
        box-sizing: border-box;
        content:'';
        position:absolute;
        left: 0;
        right: 0;
        display: inline-block;
        width: 94rem;
        margin: 0 auto;
        height: 6.5rem;
        border-radius: .4rem;
        box-shadow: 0 .1rem .6rem 0 rgba(0, 0, 0, 0.12), 0 .1rem .4rem 0 rgba(0, 0, 0, 0.12);
        z-index: -2;
        @include media($tablet) {
          width: 69rem;
        }
        @include media($mobile) {
          border-radius: 0;
          width: 100%;
          height: 6.2rem;
          box-shadow: 0 .4rem .2rem -.2rem #e8e8e8;
        }
      }
      &_up_true{
        &:before {
          box-sizing: border-box;
          content:'';
          position:absolute;
          left: 0;
          right: 0;
          display: inline-block;
          width: 94rem;
          margin: 0 auto;
          height: 6.5rem;
          border-radius: .4rem;
          box-shadow: 0 .3rem 1rem 0 rgba(0, 0, 0, 0.16), 0 .3rem 1rem 0 rgba(0, 0, 0, 0.23);
          z-index: -2;
          @include media($tablet) {
            width: 69rem;
          }
          @include media($mobile) {
            border-radius: 0;
            width: 100%;
            height: 6.2rem;
            box-shadow: 0 .4rem .2rem -.2rem #e8e8e8;
          }
        }
      }
    }
    &__td {
      padding: .5rem 0;
      &:nth-child(1) {
        width: 7%;
        padding-left: 2rem;
        @include media($tablet) {
          width: 10%;
        }
        @include media($mobile) {
          display: table-cell;
          width: 20%;
          padding-left: 0;
        }
      }
      &:nth-child(2) {
        width: 33%;
        padding-right: 3.5rem;
        @include media($tablet) {
          width: 40%;
          padding-left: 2rem;
        }
        @include media($mobile) {
          width: 30%;
          padding-left: .5rem;
          padding-right: 1rem;
          display: table-cell;
        }
      }
      &:nth-child(3) {
        width: 8%;
        padding-left: 1.5rem;
        @include media($tablet) {
          display: none;
          padding-left: 2rem;
          border-top-left-radius: .4rem;
          border-bottom-left-radius: .4rem;
        }
        @include media($mobile) {
          display: none;
        }
      }
      &:nth-child(4) {
        width: 19%;
        padding-left: .8rem;
        @include media($tablet) {
          display: none;
        }
      }
      &:nth-child(5) {
        width: 18%;
        padding-left: .7rem;
        @include media($tablet) {
          width: 25%;
        }
        @include media($mobile) {
          padding-left: .5rem;
          width: 50%;
        }
      }
      &:nth-child(6) {
        width: 15%;
        @include media($tablet) {
          width: 25%;
        }
        @include media($mobile) {
          width: 40%;
          display: none;
        }
      }
      &:first-child {
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
      }
      &:last-child {
        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
      }
      span {
        display: block;
      }
    }
    &__time {
      font-size: 1.2rem;
      color: rgba(51, 51, 51, 0.5);
      position: relative;
      top: 1rem;
    }
    &__icon {
      position: relative;
      margin: 0 .5rem;
      &.o-asset-stats__icon--wait {
        &:before {
          content: '';
          width: 1.1rem;
          height: 1.1rem;
          background: url('/img/icons/wait.svg');
          position: absolute;
          top: .4rem;
          right: 0;
        }
      }
      &.o-asset-stats__icon--success {
        &:before {
          content: '';
          width: 1.4rem;
          height: .8rem;
          background: url('/img/icons/done.svg');
          position: absolute;
          top: .5rem;
          right: 0;
        }
      }
    }

    &__hash {
      font-size: 1.2rem;
      font-weight: 600;
      color: #333;
    }
    &__block {
      @extend .o-transaction-holder__asset-stats__hash;
    }
    &__from {
      @extend .o-transaction-holder__asset-stats__hash;
    }
    &__to {
      @extend .o-transaction-holder__asset-stats__hash;
    }
    &__price-usd {
      @extend .o-transaction-holder__asset-stats__hash;
    }
    &__price-hmq {
      @extend .o-transaction-holder__asset-stats__hash;
      font-size: 1.3rem;
      font-weight: bold;
    }
    &__hash-link {
      font-size: 1.2rem;
      text-decoration: none;
      color: $blue-1;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover {
        text-decoration: underline;
      }
    }
    &__block-link {
      @extend .o-transaction-holder__asset-stats__hash-link;
    }
    &__from-link {
      @extend .o-transaction-holder__asset-stats__hash-link;
    }
    &__to-link {
      @extend .o-transaction-holder__asset-stats__hash-link;
    }
  }
}