@import "common/utils";

.o-post{
  @include card(1);
  max-width: 1000px;
  margin: 0 auto;
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  position: relative;
  p{
    margin: 1em;
  }
  &__body{
    h1, h2, h3, h4, h5 {
      font-weight: 600;
      margin-bottom: 1em;
      margin-top: 1.5em;
    }

    ul, ol {
      margin-bottom: 1.25em;

      li {
        margin-bottom: 0.25em;
      }
    }

    p {
      font-family: Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 1.25em;
      line-height: 1.58;
      margin-bottom: 1.25em;
      font-weight: 400;
      letter-spacing: -.003em;
    }

    /* Responsive default image width */
    img {
      max-width: 100%;
      height: auto;
    }

    /* Responsive floating */
    @media only screen and (min-width: 720px) {
      .butter-float-left {
        float: left;
        margin: 0px 10px 10px 0px;
      }

      .butter-float-right {
        float: right;
        margin: 0px 0px 10px 10px;
      }
    }

    /* Image caption */
    figcaption {
      font-style: italic;
      text-align: center;
      color: #ccc;
    }

    p code {
      padding: 2px 4px;
      font-size: 90%;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    pre {
      display: block;
      padding: 1em;
      margin: 0 0 2em;
      font-size: 1em;
      line-height: 1.4;
      word-break: break-all;
      word-wrap: break-word;
      color: #333333;
      background-color: #f5f5f5;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }

  }
  .video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }

  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}