@import "common/settings/variables";
@import "common/utils";

.m-scroll-screen{
  &__screen {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background: url("/img/mock/scroll-gradient.svg");
    @include media($tablet) {
      height: 9rem;
    }
    @include media($mobile) {
      height: 7rem;
    }
  }
}