@import "common/settings/variables";
@import "common/utils";

.o-filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 66px;
  @include media($mobile) { flex-direction: column; }

  .m-input-select__root + .a-button-link {
    @include media($mobile-up) { margin-left: 30px; }
    @include media($mobile) {
      width: 100%;
      margin-top: 16px;
    }
  }
}