@import "common/settings/variables";
@import "common/utils";

.a-input-text-h{
  $this: &;
  padding: 0;
  &_has-error {
    &_true {
      #{$this}__input {
        border: 2px solid $color-main-red-error;
        &::placeholder {
          color: $color-main-red-error;
        }
      }
    }
  }
  &__input {
	box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px;
    text-align: center;
    border: 2px solid $color-main-blue;
    margin-bottom: 30px;
    font-family: $font-ProximaNova;
    font-weight: 700;
    font-size: 14px;
    color: $color-main-blue;
    transition: color, border, .3s linear;
    &:focus {
      outline: none;
    }
  }
}