@import "common/settings/variables";
@import "common/utils";


.se-open-source{
  &__header{
    display: flex;
    padding: 3rem 0 4.5rem 2rem;
    @include media($tablet) {
      padding: 3rem 0 4rem 0;
    }

    &-image{
      margin-right: 4rem;
      top: -2rem;
      left: -1rem;
      @include media($tablet) {
        display: none;
      }
    }
    &-description {
      padding-left: 1rem;
      @include media($tablet) {
        padding: 0;
      }
    }
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &-item{
      width: 29rem;
      height: 28rem;
      border-radius: 6px;
      background-color: #ffffff;
      border: solid 1px #e8e8e8;
      margin-bottom: 7rem;

      &-image{
        width: 28.8rem;
        height: 17rem;
        border-radius: 6px 6px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      &_type_android &-image{
        background-image: linear-gradient(120deg, #f52c00, #f47400);
      }
      &_type_go &-image{
        background-image: linear-gradient(120deg, #0d85c6, #94c8dc 76%, #bedce2);
      }
      &_type_js &-image{
        background-image: linear-gradient(120deg, #f7971e, #ffd200);
      }
      &:hover {
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.12);
        z-index: 1;
      }
    }
    &-text{
      padding: 1.9rem 1.5rem 1.9rem 1.5rem;
    }
  }
  &__card-item {
    &__description {
      font-size: 1.2rem;
      line-height: 1.7;
      color: #48474c;
    }
  }
  &__subtitle {
    display: inline-block;
    padding-bottom: 2rem;
  }
}