@import "common/settings/variables";
@import "common/utils";

.se-wiki1{
  &__article-list{
    padding-top: 3.4rem;
    padding-bottom: 4rem;
  }
}

.wiki-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}