.a-logo{
  &__root{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &_size{
      &_normal{
        height: 7rem;
      }
      &_small{
        height: 8.2rem;
        width: 14rem;
      }
    }
  }
  &__image{
    &_size{
      &_normal{
        width: 15.1rem;
      }
      &_small{
        width: 10.3rem;
      }
    }
  }
}