@import "common/utils";
@import "common/settings/variables";

.a-logo {
  display: block;

  &__img {
    display: block;
    width: 129px;
    height: 30px;

    &_dark-theme_true path {
      fill: $c-brand-invert;
      stroke: $c-brand-invert;
    }

    &_dark-theme_false {}
  }
}