@import "common/settings/variables";
@import "common/utils";

.o-recent-news {
  &__inner {
    padding: $identation * 2 0;
    border-bottom: 1px $c-border solid;
  }
}

.m-news-item-h {
  display: flex;
  @include media($tablet) {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  > .m-author {
    @include media($desktop) { flex-basis: 25%; }
    @include media($tablet) { margin-top: $identation; }
  }

  &__content {
    @include media($desktop) { flex-basis: 75%; }
  }
}

.m-author {
  max-width: 100%;
  padding-left: 45px;
  overflow: hidden;

  > .a-avatar {
    float: left;
    margin-left: -45px;
  }
}

.a-avatar {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.a-username {
  color: $gray-3;
  font-size: 15px;
  line-height: 1.33em;
  font-weight: 700;
  @include ellipsis;
}

.a-date {
  font-size: 14px;
  color: $gray-4;
  @include ellipsis;
}
