@import "common/settings/variables";
@import "common/utils";

.m-tooltip {
  &__wrapper{
    position: relative;
    display: inline-block;
    @include media($mobile) {
      width: 100%
    }
  }

  &__root{
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    display: inline-block;
    z-index: 1;
    padding: 16px 12px;
    color: #FFA940;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
    background-color: white;
    border-radius: 6px;
    top: calc(-100% - 3px);
    @include media($mobile) {
      width: 100%;
      top: calc(-100% + 12px);
    }
    &.hide{
      visibility: hidden;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    font-size: 1rem;
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 6px;
  }
  &__arrow {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, 0) rotate(45deg);
    box-shadow: 2px 2px 2px 0px rgba(112, 111, 111, 0.5);
    margin-top: -5px;
    top: 100%;
  }
}