@import "common/settings/variables";
@import "common/utils";

.a-container{
  margin: 0 auto;
  max-width: $w-desktop + (2 * 20px);
  padding: 0 $p-desktop;

  @include media($tablet) {
    width: 100%;
    padding: 0 $p-tablet;
  }
  @include media($mobile) {
    width: 100%;
    padding: 0 $p-mobile;
  }
  &_wide_true{
    padding: 0;
    max-width: $w-desktop-wide;
    @include media($tablet) {
      max-width: 100%;
    }
  }
}