@import "common/settings/variables";
@import "common/utils";

@mixin menu() {
  position: relative;
  margin: 0;
  width: 100%;
  .m-dropdown__select{
    width: 200%;
    background-color: $interactive;
    color: $white;
    position: relative;
    left: -3rem;
    &-text{
      position: absolute;
      padding:0 2rem;
      font-weight:400;
      width: 50%;
      &:after{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid $white;
      }
    }
  }
}

.legal{
  &__top{
    height: 14rem;
    margin: 2rem 0;
    @include media ($tablet) {
      height: auto;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: row-reverse;
    @include media ($tablet) {
      flex-direction: column;
    }
    @include media ($mobile) {
      flex-direction: column;
    }
  }
  &__menu{
    margin-left: 10rem;
    @include media ($tablet) {
      @include menu
    }

  }
  &__sidebar{
    flex: 1 1 7rem;
    min-width: 30rem;
    display: flex;
    @include media ($tablet) {
      flex: 1 1 1.5rem;
    }
  }
  &__sections{
    max-width: 70rem;
    flex: 3 1 auto;
    overflow: auto;
  }

  &__html{
    margin-bottom: 2.5rem;
    i{ font-style: italic;
      font-weight: bold;
    }
    p{
      font-size: 1.5rem;
      line-height: 2.6rem;
      color: #333333;
      margin-bottom: 3.2rem;
    }
    p.d{
      font-size: 1.5rem;
      line-height: 2.6rem;
      color: #333333;
      margin-bottom: 1.2rem;
    }
    h3{
      font-size: 16px;
      font-weight: 600;
      line-height: 24.0px;
      color: #2c2d30;
    }
    h2{
      font-size: 24px;
      font-weight: 600;
      line-height: 32.0px;
      color: #2c2d30;
      padding-bottom: 1rem;
    }
    a{
      color: $interactive;

    }
    ul{
      list-style: circle;
      padding-left: 2rem;
      margin-bottom: 2rem;

    }

    ul li {list-style-type: disc;}
    ol li {list-style-type: none;}

  }
}