@import "common/settings/variables";
@import "common/utils";

$icon-size: 48px;

.a-h{
  margin-bottom: $identation;
  font-size: 30px;
  @include media($tablet) {
    margin-bottom: $identation;
    margin-top: $identation * 1.5;
  }

  &:first-child { margin-top: 0; }

  &_type_h2{
    line-height: 1.33em;
    font-weight: 700;
    text-align: center;
    @include media($mobile) {
      font-size: 24px;
      line-height: 1.67;
    }
  }

  &_type_h3{
    line-height: 1.2em;
    font-weight: 400;
    color: #4a4a4a; // clarify
    &.accent,
    &.flip {
      font-weight: 700;
      color: $gray-3;
    }
  }

  &_type_h4{
    margin-bottom: $identation;
    font-size: 22px;
    line-height: 1.23em;
    font-weight: 400;
    &,
    & > a { color: $gray-3; }
  }

  .iconed { padding-left: $icon-size * 1.5; }

  &_icon_placeholder {
    background: url('/img/placeholder.svg') left center / $icon-size no-repeat;
  }
}
