@import "common/settings/variables";
@import "common/utils";

$icon-size: 20rem;

.a-h{
  margin: 0;

  &_type {
    &_hmq{
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
      padding-left: 3.6rem;
      background: url('/img/icons/bitmap@2x.png') left 0px center / 2rem no-repeat;
      @include media($tablet) {
        margin-left: 2rem;
      }
    }

    &_search{
      font-size: 2.5rem;
      font-weight: bold;
      color: $white;
      padding-bottom: 1rem;
    }
    &_hero {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1.4rem;
    }

    &_bs {
      padding-bottom: 1rem;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2.4rem;
      color: $brand;
    }
    &_wiki-result{
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
      color: $brand;
    }
    &_tooltip-sub{
      font-size: 1.5rem;
      line-height: 2.6rem;
      color: $interactive;
      padding-bottom: .8rem;

    }

    &_tooltip{
      padding-bottom: .2rem;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2.4rem;
      color: $title;
    }

    &_window{
      padding-bottom: 1.6rem;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2.4rem;
      color: $title;
    }
    &_xs {
      font-size: 13px;
      font-weight: bold;
      line-height: 2rem;
      padding-bottom: .2rem;
    }
    &_xxs {
      font-size: 60px;
      line-height: 64px;
      padding-bottom: .2rem;
      font-weight: 600;
    }

    &_section {
      font-size: 2.3rem;
      font-weight: 600;
      line-height: 3.2rem;
      color: $title;
      padding-bottom: 1rem;

    }
    &_section-sub{
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
      color: $title;
      padding-bottom: .8rem;
    }
    &_section-c {
      font-size: 2.3rem;
      font-weight: 600;
      line-height: 3.2rem;
      color: $title;
      text-align: center;
      padding-bottom: 1rem;

    }
    &_openitem {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.71rem;
      color: $black-4;
      padding-bottom: .8rem;

    }
  }

  &__iconed{
    padding-left: $icon-size + 1.6rem;
    &_icon_placeholder {
      background: url('/img/placeholder.svg') left center / $icon-size no-repeat;
    }
  }

  & + &{
    padding-top: 0;
  }
}