@import "common/settings/variables";

.a-h3 {
  margin-bottom: $identation * 2;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 400;
  color: #4a4a4a; // clarify
  &.accent,
  &.flip {
    font-weight: 700;
    color: $gray-3;
  }
}