.st{
  &-ripple-btn{
    //position: absolute;
    border: 1px solid tomato;
    background-color: white;
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 13px;
  }
}

