.m-dot-indicator {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__indicator {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    list-style: none;
    border-radius: 24px;
    z-index: 1;
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__dot {
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    &:last-child{
      margin: 0;
    }
    &.current {
      background: white;
      border: 1px solid white;
    }
  }
}

